<table cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th colspan=6 style="text-align: center; vertical-align: center;"><b>PEMERINTAH PROVINSI JAWA BARAT</b></th>
    </tr>
    <tr>
        <th colspan=6 style="text-align: center; vertical-align: center;"><b>LAPORAN REALISASI ANGGARAN PENDAPATAN DAN BELANJA DAERAH</b></th>
    </tr>
    <tr>
        <th colspan=6 style="text-align: center; vertical-align: center;"><b>TAHUN ANGGARAN 2021</b></th>
    </tr>
    <tr>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td style="height:40px;width:17px;text-align: center; vertical-align: center; border: 1px solid #000000;"><b>Kode Rekening</b></td>
            <td style="width:50px;text-align: center; vertical-align: center; border: 1px solid #000000;"><b>URAIAN</b></td>
            <td style="width:25px;text-align: center; vertical-align: center; border: 1px solid #000000;"><b>ANGGARAN</b></td>
            <td style="width:25px;text-align: center; vertical-align: center; border: 1px solid #000000;"><b>RAEALISASI S.D 31 JANUARI</b></td>
            <td style="width:25px;text-align: center; vertical-align: center; border: 1px solid #000000;"><b>LEBIH / (KURANG)</b></td>
            <td style="width:12px;text-align: center; vertical-align: center; border: 1px solid #000000;"><b>%</b></td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: center; border: 1px solid #000000;font-size:10px;"><b>1</b></td>
            <td style="text-align: center; vertical-align: center; border: 1px solid #000000;font-size:10px;"><b>2</b></td>
            <td style="text-align: center; vertical-align: center; border: 1px solid #000000;font-size:10px;"><b>3</b></td>
            <td style="text-align: center; vertical-align: center; border: 1px solid #000000;font-size:10px;"><b>4</b></td>
            <td style="text-align: center; vertical-align: center; border: 1px solid #000000;font-size:10px;"><b>5 = 4 - 3</b></td>
            <td style="text-align: center; vertical-align: center; border: 1px solid #000000;font-size:10px;"><b>6 = 4 / 3 *100</b></td>
        </tr>
        <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
            
    
                                <tr>
            <td style="border: 1px solid #000000;"><b>4</b></td>
            <td style="border: 1px solid #000000;"><b>PENDAPATAN DAERAH</b></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>    
            <td style="border: 1px solid #000000;"></td>    
        </tr>
                                <tr>
            <td style="border: 1px solid #000000;"><b>4.1</b></td>
            <td style="border: 1px solid #000000;"><b>PENDAPATAN ASLI DAERAH (PAD)</b></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
        </tr>    
                        <tr>
            <td style="border: 1px solid #000000;">4.1.01</td>
            <td style="border: 1px solid #000000;">Pajak Daerah</td>
            <td style="text-align: right; border: 1px solid #000000;">1,430,802,339,166</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(1,430,802,339,166)</td>    
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                            
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                            <tr>
            <td style="border: 1px solid #000000;">4.1.02</td>
            <td style="border: 1px solid #000000;">Retribusi Daerah </td>
            <td style="text-align: right; border: 1px solid #000000;">227,398,053,016</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(227,398,053,016)</td>    
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                            
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                            <tr>
            <td style="border: 1px solid #000000;">4.1.03</td>
            <td style="border: 1px solid #000000;">Hasil Pengelolaan Kekayaan Daerah yang Dipisahkan</td>
            <td style="text-align: right; border: 1px solid #000000;">28,698,302,239</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(28,698,302,239)</td>    
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                            
  
                                                        
  
                                                        
  
                                            <tr>
            <td style="border: 1px solid #000000;">4.1.04</td>
            <td style="border: 1px solid #000000;">Lain-lain PAD yang Sah</td>
            <td style="text-align: right; border: 1px solid #000000;">680,991,555,600</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(680,991,555,600)</td>    
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                            
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                                        
  
                                            <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
                <tr>
            <td style="border: 1px solid #000000;"><b>4.2</b></td>
            <td style="border: 1px solid #000000;"><b>PENDAPATAN TRANSFER </b></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
        </tr>    
                        <tr>
            <td style="border: 1px solid #000000;">4.2.01</td>
            <td style="border: 1px solid #000000;">Pendapatan Transfer Pemerintah Pusat </td>
            <td style="text-align: right; border: 1px solid #000000;">4,132,444,663,859</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(4,132,444,663,859)</td>    
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                                <tr>
            <td style="border: 1px solid #000000;">4.2.01.01.01</td>
            <td style="border: 1px solid #000000;">Dana Transfer Umum-Dana Bagi Hasil (DBH)</td>
            <td style="text-align: right; border: 1px solid #000000;">289,104,802,859</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(289,104,802,859)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
            
  
                                                            <tr>
            <td style="border: 1px solid #000000;">4.2.01.01.02</td>
            <td style="border: 1px solid #000000;">Dana Transfer Umum-Dana Alokasi Umum (DAU)</td>
            <td style="text-align: right; border: 1px solid #000000;">2,671,620,831,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(2,671,620,831,000)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
            
  
                                                            <tr>
            <td style="border: 1px solid #000000;">4.2.01.01.03</td>
            <td style="border: 1px solid #000000;">Dana Transfer Khusus-Dana Alokasi Khusus (DAK) Fisik</td>
            <td style="text-align: right; border: 1px solid #000000;">235,982,650,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(235,982,650,000)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
            
  
                                                            <tr>
            <td style="border: 1px solid #000000;">4.2.01.01.04</td>
            <td style="border: 1px solid #000000;">Dana Transfer Khusus-Dana Alokasi Khusus (DAK) Non Fisik</td>
            <td style="text-align: right; border: 1px solid #000000;">403,854,353,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(403,854,353,000)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
            
  
                                                    <tr>
            <td style="border: 1px solid #000000;">4.2.01.02</td>
            <td style="border: 1px solid #000000;">Dana Insentif Daerah (DID)</td>
            <td style="text-align: right; border: 1px solid #000000;">105,936,022,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(105,936,022,000)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                    
  
                                                        
  
                                            <tr>
            <td style="border: 1px solid #000000;">4.2.02</td>
            <td style="border: 1px solid #000000;">Pendapatan Transfer Antar Daerah</td>
            <td style="text-align: right; border: 1px solid #000000;">579,018,794,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(579,018,794,000)</td>    
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                            
  
                                                        
  
                                            <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
                <tr>
            <td style="border: 1px solid #000000;"><b>4.3</b></td>
            <td style="border: 1px solid #000000;"><b>LAIN-LAIN PENDAPATAN DAERAH YANG SAH</b></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
        </tr>    
                        <tr>
            <td style="border: 1px solid #000000;">4.3.03</td>
            <td style="border: 1px solid #000000;">Lain-lain Pendapatan Sesuai dengan Ketentuan Peraturan Perundang-Undangan</td>
            <td style="text-align: right; border: 1px solid #000000;">212,651,400,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(212,651,400,000)</td>    
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                            
  
                <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
        <tr>
        <td style="border: 1px solid #000000;"></td>
        <td style="border: 1px solid #000000;"><b>JUMLAH PENDAPATAN DAERAH</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>7,292,005,107,880</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>0</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>(7,292,005,107,880)</b></td>
        <td style="text-align: center; border: 1px solid #000000;"><b>0</b></td>    
        </tr>
        <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
                                <tr>
            <td style="border: 1px solid #000000;"><b>5</b></td>
            <td style="border: 1px solid #000000;"><b>BELANJA</b></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>    
        </tr>
                                <tr>
            <td style="border: 1px solid #000000;"><b>5.1</b></td>
            <td style="border: 1px solid #000000;"><b>BELANJA TIDAK LANGSUNG</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>16,908,809,197,482</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>1,357,163,969</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>(16,907,452,033,513)</b></td>
            <td style="text-align: center; border: 1px solid #000000;"><b>0.01</b></td>    
        </tr>    
                        <tr>
            <td style="border: 1px solid #000000;">5.1.1</td>
            <td style="border: 1px solid #000000;">Belanja Pegawai</td>
            <td style="text-align: right; border: 1px solid #000000;">15,191,244,265,980</td>
            <td style="text-align: right; border: 1px solid #000000;">502,494,082</td>
            <td style="text-align: right; border: 1px solid #000000;">(15,190,741,771,898)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                
  
                                            <tr>
            <td style="border: 1px solid #000000;">5.1.2</td>
            <td style="border: 1px solid #000000;">Belanja Bunga</td>
            <td style="text-align: right; border: 1px solid #000000;">1,598,636,696,707</td>
            <td style="text-align: right; border: 1px solid #000000;">854,669,887</td>
            <td style="text-align: right; border: 1px solid #000000;">(1,597,782,026,820)</td>
            <td style="text-align: center; border: 1px solid #000000;">0.05</td>    
         </tr>
                
  
                                            <tr>
            <td style="border: 1px solid #000000;">5.1.5</td>
            <td style="border: 1px solid #000000;">Belanja Bantuan Sosial</td>
            <td style="text-align: right; border: 1px solid #000000;">111,287,614,795</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(111,287,614,795)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                
  
                                            <tr>
            <td style="border: 1px solid #000000;">5.1.6</td>
            <td style="border: 1px solid #000000;">Belanja Bagi Hasil kepada Provinsi/Kabupaten/Kota dan Pemerintah Desa</td>
            <td style="text-align: right; border: 1px solid #000000;">7,640,620,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(7,640,620,000)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                
  
                                            <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
                <tr>
            <td style="border: 1px solid #000000;"><b>5.2</b></td>
            <td style="border: 1px solid #000000;"><b>BELANJA LANGSUNG</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>359,060,491,603</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>0</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>(359,060,491,603)</b></td>
            <td style="text-align: center; border: 1px solid #000000;"><b>0</b></td>    
        </tr>    
                        <tr>
            <td style="border: 1px solid #000000;">5.2.2</td>
            <td style="border: 1px solid #000000;">Belanja Barang dan Jasa</td>
            <td style="text-align: right; border: 1px solid #000000;">126,945,484,448</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(126,945,484,448)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                
  
                                            <tr>
            <td style="border: 1px solid #000000;">5.2.3</td>
            <td style="border: 1px solid #000000;">Belanja Modal</td>
            <td style="text-align: right; border: 1px solid #000000;">232,115,007,155</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(232,115,007,155)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                
  
                <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
        <tr>
        <td style="border: 1px solid #000000;"></td>
        <td style="border: 1px solid #000000;"><b>JUMLAH BELANJA</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>17,267,869,689,085</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>1,357,163,969</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>(17,266,512,525,116)</b></td>
        <td style="text-align: center; border: 1px solid #000000;"><b>0.01</b></td>    
        </tr>
        <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
    <tr>
        <td style="border: 1px solid #000000;"></td>
        <td style="text-align: center; vertical-align: center;border: 1px solid #000000;"><b>SURPLUS / (DEFISIT) - LRA</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>(9,975,864,581,205)</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>(1,357,163,969)</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>9,974,507,417,236</b></td>
        <td style="text-align: center; border: 1px solid #000000;"><b>0.01</b></td>    
    </tr>
    <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>

                        <tr>
            <td style="border: 1px solid #000000;"><b>6</b></td>
            <td style="border: 1px solid #000000;"><b>PEMBIAYAAN DAERAH</b></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>    
            <td style="border: 1px solid #000000;"></td>    
        </tr>

                                        <tr>
            <td style="border: 1px solid #000000;"><b>6.1</b></td>
            <td style="border: 1px solid #000000;"><b>PENERIMAAN PEMBIAYAAN DAERAH</b></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
        </tr>    
                
                <tr>
            <td style="border: 1px solid #000000;">6.1.1.02</td>
            <td style="border: 1px solid #000000;">Pelampauan Penerimaan Dana Perimbangan</td>
            <td style="text-align: right; border: 1px solid #000000;">42,000,000,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(42,000,000,000)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                
    
                                                                
                <tr>
            <td style="border: 1px solid #000000;">6.1.1.05</td>
            <td style="border: 1px solid #000000;">Kewajiban kepada Pihak Ketiga Sampai Dengan Akhir Tahun Belum Terselesaikan</td>
            <td style="text-align: right; border: 1px solid #000000;">249,697,957,667</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(249,697,957,667)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                
    
                                                                        <tr>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"><b>JUMLAH PENERIMAAN PEMBIAYAAN DAERAH</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>291,697,957,667</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>0</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>(291,697,957,667)</b></td>
            <td style="text-align: center; border: 1px solid #000000;"><b>0</b></td>    
         </tr>
                        <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
                <tr>
            <td style="border: 1px solid #000000;"><b>6.2</b></td>
            <td style="border: 1px solid #000000;"><b>PENGELUARAN PEMBIAYAAN DAERAH</b></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>
        </tr>    
                
                <tr>
            <td style="border: 1px solid #000000;">6.2.2.02</td>
            <td style="border: 1px solid #000000;">Badan Usaha Milik Daerah (BUMD)</td>
            <td style="text-align: right; border: 1px solid #000000;">8,500,000,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
            <td style="text-align: right; border: 1px solid #000000;">(8,500,000,000)</td>
            <td style="text-align: center; border: 1px solid #000000;">0</td>    
         </tr>
                
    
                                                    <tr>
        <td style="border: 1px solid #000000;"></td>
        <td style="border: 1px solid #000000;"><b>JUMLAH PENGELUARAN PEMBIAYAAN DAERAH</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>8,500,000,000</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>0</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>(8,500,000,000)</b></td>
        <td style="text-align: center; border: 1px solid #000000;"><b>0</b></td>    
        </tr>
        <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
    <tr>
        <td style="border: 1px solid #000000;"></td>
        <td style="border: 1px solid #000000;"><b>Pembiayaan Netto</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>283,197,957,667</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>0</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>(283,197,957,667)</b></td>
        <td style="text-align: center; border: 1px solid #000000;"><b>0</b></td>    
    </tr>
    <tr><td style="border: 1px solid #000000;">&nbsp </td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td><td style="border: 1px solid #000000;">&nbsp</td></tr>
    <tr>
        <td style="border: 1px solid #000000;"></td>
        <td style="border: 1px solid #000000;"><b>Sisa Lebih Pembiayaan Anggaran (SILPA)</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>(9,692,666,623,538)</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>(1,357,163,969)</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>9,691,309,459,569</b></td>
        <td style="text-align: center; border: 1px solid #000000;"><b>0</b></td>    
    </tr>
    
    </tbody>
</table>
