<table cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th colspan=6 style="text-align: center; vertical-align: center;"><b>PEMERINTAH PROVINSI JAWA BARAT</b></th>
    </tr>
    <tr>
        <th colspan=6 style="text-align: center; vertical-align: center;"><b>NERACA</b></th>
    </tr>
    <tr>
    <th colspan=6 style="text-align: center; vertical-align: center;"><b>TAHUN ANGGARAN 2021</b></th>
    </tr>
    <tr>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan=4 style="height:40px;text-align: center; vertical-align: center; border: 1px solid #000000;"><b>Uraian</b></td>
            <td style="width:25px;text-align: center; vertical-align: center; border: 1px solid #000000;"><b>2021</b></td>
            <td style="width:25px;text-align: center; vertical-align: center; border: 1px solid #000000;"><b>2020</b></td>
        </tr>
        <tr><td style="border: 1px solid #000000;width:10px;"></td><td style="border: 1px solid #000000;width:10px;"></td><td style="border: 1px solid #000000;width:10px;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>
            
    
                                <tr>
            <td colspan=4 style="border: 1px solid #000000;"><b>ASET</b></td>
            <td style="border: 1px solid #000000;"></td>
            <td style="border: 1px solid #000000;"></td>    
        </tr>
                        
                <tr><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>
        <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=3 style="border: 1px solid #000000;"><b>ASET LANCAR</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b></b></td>
        </tr>    
        
                        <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;">Kas di Bendahara Pengeluaran</td>
            <td style="text-align: right; border: 1px solid #000000;">200,000</td>
            <td style="text-align: right; border: 1px solid #000000;">230,000</td>
         </tr>
                      
                            
                        <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;">Kas di Bendahara Penerimaan</td>
            <td style="text-align: right; border: 1px solid #000000;">400,000</td>
            <td style="text-align: right; border: 1px solid #000000;">200,000</td>
         </tr>
                      
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                            
                              
                                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=3 style="border: 1px solid #000000; text-align: center;"><b>Jumlah Aset lancar</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>2,580,000</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>3,730,000</b></td>
        </tr>    
                <tr><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>
        <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=3 style="border: 1px solid #000000;"><b>ASET TETAP</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b></b></td>
        </tr>    
        
                              
                            
                              
                            
                              
                            
                              
                                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=3 style="border: 1px solid #000000; text-align: center;"><b>Jumlah Aset tetap</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>480,000</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>2,000,000</b></td>
        </tr>    
                <tr><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>
        <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=3 style="border: 1px solid #000000;"><b>ASET LAINNYA</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b></b></td>
        </tr>    
        
                              
                            
                              
                            
                              
                            
                              
                            
                              
                    <tr><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>
    <tr>
        <td style="border: 1px solid #000000;"><b></b></td>
        <td colspan=3 style="border: 1px solid #000000; text-align: center;"><b>Jumlah Aset lainnya</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>1,210,000</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>300,000</b></td>
    </tr>    
        <tr><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>
        <tr>
        <td colspan=4 style="border: 1px solid #000000;ext-align: center;"><b>JUMLAH ASET</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>4,270,000</b></td>
        <td style="text-align: right; border: 1px solid #000000;"><b>6,030,000</b></td>
     </tr>
        <tr><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>


    
    
    </tbody>
</table>
