<table cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th colspan=6 style="text-align: center; vertical-align: center;"><b>PEMERINTAH PROVINSI JAWA BARAT</b></th>
    </tr>
    <tr>
        <th colspan=6 style="text-align: center; vertical-align: center;"><b>NERACA</b></th>
    </tr>
    <tr>
    <th colspan=6 style="text-align: center; vertical-align: center;"><b>TAHUN ANGGARAN 2021</b></th>
    </tr>
    <tr>
    </tr>
    </thead>
    <tbody>
            
    
                                <tr><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>
        
                <tr><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>
        <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=3 style="border: 1px solid #000000;"><b>ASET LANCAR</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b></b></td>
        </tr>    
        
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Kas dan Setara Kas</td>
            <td style="text-align: right; border: 1px solid #000000;">600,000</td>
            <td style="text-align: right; border: 1px solid #000000;">430,000</td>
         </tr>
                        <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;">Kas di Bendahara Pengeluaran</td>
            <td style="text-align: right; border: 1px solid #000000;">200,000</td>
            <td style="text-align: right; border: 1px solid #000000;">230,000</td>
         </tr>
                      
                    
                        <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;">Kas di Bendahara Penerimaan</td>
            <td style="text-align: right; border: 1px solid #000000;">400,000</td>
            <td style="text-align: right; border: 1px solid #000000;">200,000</td>
         </tr>
                      
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Piutang Pajak*</td>
            <td style="text-align: right; border: 1px solid #000000;">330,000</td>
            <td style="text-align: right; border: 1px solid #000000;">550,000</td>
         </tr>
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Piutang Retribusi</td>
            <td style="text-align: right; border: 1px solid #000000;">330,000</td>
            <td style="text-align: right; border: 1px solid #000000;">550,000</td>
         </tr>
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Piutang Lainnya</td>
            <td style="text-align: right; border: 1px solid #000000;">330,000</td>
            <td style="text-align: right; border: 1px solid #000000;">550,000</td>
         </tr>
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Penyisihan Piutang</td>
            <td style="text-align: right; border: 1px solid #000000;">330,000</td>
            <td style="text-align: right; border: 1px solid #000000;">550,000</td>
         </tr>
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Beban Dibayar Dimuka</td>
            <td style="text-align: right; border: 1px solid #000000;">330,000</td>
            <td style="text-align: right; border: 1px solid #000000;">550,000</td>
         </tr>
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Persediaan</td>
            <td style="text-align: right; border: 1px solid #000000;">330,000</td>
            <td style="text-align: right; border: 1px solid #000000;">550,000</td>
         </tr>
                              
                            
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=3 style="border: 1px solid #000000; text-align: center;"><b>Jumlah Aset lancar</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>2,580,000</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>3,730,000</b></td>
        </tr>    
                <tr><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>
        <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=3 style="border: 1px solid #000000;"><b>ASET TETAP</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b></b></td>
        </tr>    
        
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Tanah</td>
            <td style="text-align: right; border: 1px solid #000000;">120,000</td>
            <td style="text-align: right; border: 1px solid #000000;">500,000</td>
         </tr>
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Peralatan dan Mesin</td>
            <td style="text-align: right; border: 1px solid #000000;">120,000</td>
            <td style="text-align: right; border: 1px solid #000000;">500,000</td>
         </tr>
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Jalan irigasi dan jaringan</td>
            <td style="text-align: right; border: 1px solid #000000;">120,000</td>
            <td style="text-align: right; border: 1px solid #000000;">500,000</td>
         </tr>
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Aset Tetap Lainnya</td>
            <td style="text-align: right; border: 1px solid #000000;">120,000</td>
            <td style="text-align: right; border: 1px solid #000000;">500,000</td>
         </tr>
                              
                            
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=3 style="border: 1px solid #000000; text-align: center;"><b>Jumlah Aset tetap</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>480,000</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b>2,000,000</b></td>
        </tr>    
                <tr><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td><td style="border: 1px solid #000000;"></td></tr>
        <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=3 style="border: 1px solid #000000;"><b>ASET LAINNYA</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b</b></td>
            <td style="text-align: right; border: 1px solid #000000;"><b></b></td>
        </tr>    
        
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Tagihan Jangka Panjang</td>
            <td style="text-align: right; border: 1px solid #000000;">580,000</td>
            <td style="text-align: right; border: 1px solid #000000;">200,000</td>
         </tr>
                              
                    
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Kemitraan dengan Pihak Ketiga</td>
            <td style="text-align: right; border: 1px solid #000000;">30,000</td>
            <td style="text-align: right; border: 1px solid #000000;">100,000</td>
         </tr>
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Aset Tak Berwujud</td>
            <td style="text-align: right; border: 1px solid #000000;">500,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
         </tr>
                              
                    
                <tr>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td style="border: 1px solid #000000;"><b></b></td>
            <td colspan=2 style="border: 1px solid #000000;">Aset Lain-Lain</td>
            <td style="text-align: right; border: 1px solid #000000;">100,000</td>
            <td style="text-align: right; border: 1px solid #000000;">0</td>
         </tr>
                              
                

    
    
    </tbody>
</table>
