<template>
    <div>
      <b-row>
        <b-col md="3" cols="6">
          Nama Kebijakan
        </b-col>
        <b-col md="8" cols="6">
          : {{ data.name }}
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3" cols="6">
          Mode Jurnal
        </b-col>
        <b-col md="8" cols="6">
          : {{ formattedJournalModes(data.journal_modes) }}
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3" cols="6">
          Created at
        </b-col>
        <b-col md="8" cols="6">
          : {{ data.created_at }}
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3" cols="6">
          Created by
        </b-col>
        <b-col md="8" cols="6">
          : {{ data.created_by }}
        </b-col>
      </b-row>
    </div>
</template>

<script>
  import { formattedJournalModes } from '@/utils/formater'

  export default {
    props: {
      data: {
        type: Object,
        default: null
      }
    },
    methods: {
      formattedJournalModes,
    }
  }
</script>

