<template>
  <div>
    <!-- filter -->
    <b-row>
      <b-col md="10" cols="12">
        <b-form-input
          v-model="searchKey"
          placeholder="Search"
          @keyup.enter="handleSearch"
        ></b-form-input>
      </b-col>
      <b-col md="2" cols="12">
        <b-button
          block
          @click="handleSearch"
          variant='primary'
          class="mr-1"
        >
          Cari
        </b-button>
      </b-col>
    </b-row>
    <br>
    <!-- Table -->
    <b-table
      striped
      hover
      responsive
      :busy="loading"
      :head-variant="'primary'"
      :fields="fields"
      :items="records"
    >
      <template v-slot:table-busy>
        <div class="text-center text-primary my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <!-- A custom formatted header cell for field 'name' -->
      <template #head(selected)="">
          <input
            type="checkbox"
          >
      </template>

      <template #cell(selected)="row">
        <b-form-group>
          <input
            type="checkbox"
            v-model="row.item.selected"
          >
        </b-form-group>
      </template>

      <template #cell(journal_modes)="row">
        {{ formattedJournalModes(row.item.journal_modes) }}
      </template>

      <template #cell(actions)="row">
        <b-button
          pill
          variant='primary'
          size="sm"
          @click="handleShow(row.item)"
          class="mr-1"
          title="Detail Kebijakan"
        >
          <i class="ti-eye"></i>
        </b-button>
      </template>
    </b-table>

    <b-row>
      <b-col sm="12" md="4" class="my-1">
      <b-form-group
        label="Per page"
        label-cols-sm="6"
        label-cols-md="4"
        label-cols-lg="3"
        label-align-sm="right"
        label-size="sm"
        label-for="perPageSelect"
        class="mb-0"
      >
        <b-form-select
          v-model="perPage"
          size="sm"
          :options="pageOptions"
        ></b-form-select>
      </b-form-group>
    </b-col>
    <b-col sm="12" md="8" class="my-1">
      <b-pagination
        v-model="currentPage"
        :total-rows="options.total"
        :per-page="options.itemsPerPage"
        align="fill"
        size="sm"
        class="my-0"
      ></b-pagination>
    </b-col>
    </b-row>
  </div>
</template>

<script>
import { isEqual } from 'lodash'
import {
  SUCCESS_DELETE,
  FAILED_DELETE,
  CONFIRM_DELETE
} from '@/utils/constant'
import { getChipColor } from '@/utils/formater'

export default {
  props: {
    allow: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      selectedAll: false,
      fields: [
        { key: '_num', label: 'No' },
        { key: 'name', label: 'Tipe Transaksi' },
        { key: 'journal_modes', label: 'Mode Jurnal' },
        { key: 'created_at', label: 'Created at' },
        { key: 'created_by', label: 'User Login' },
        { key: 'actions', label: 'Aksi' },
      ],
      selectedEvent: {
        id: null,
        name: null
      },
      deleteModal: false,
      pageOptions: [5, 10, 15],
      perPage: 5,
      currentPage: 1,
      searchKey: null,
    }
  },
  computed: {
    records() {
      return this.$store.getters['accountingPolicy/getList']
    },
    pagination() {
      return this.$store.getters['accountingPolicy/getPagination']
    },
    loading() {
      return this.$store.getters['accountingPolicy/getLoading']
    },
    options: {
      set(value) {
        console.log('s')
        this.$store.commit('accountingPolicy/SET_TABLE_OPTIONS', value)
        this.$store.dispatch('accountingPolicy/getRecords')
      },
      get() {
        return this.$store.getters['accountingPolicy/getTableOption']
      }
    },
    totalItems() {
      return this.$store.getters['accountingPolicy/getTotalData']
    },
  },
  watch: {
    currentPage(value) {
      this.options = {
        ...this.options,
        page: value,
      }
    },
    perPage (value) {
      this.options = {
        ...this.options,
        itemsPerPage: value,
      }
    },
  },
  mounted() {
    this.$emit('optionChanged', this.options)
    this.$store.dispatch('accountingPolicy/getRecords')
  },
  methods: {
    handleSearch () {
      this.options = {
        ...this.options,
        keyWords: this.searchKey,
      }
    },

    handleShow (item) {
      this.$emit('showAccPolicy', item)
    },

    formattedJournalModes (jounalModes) {
      if (! jounalModes.length) return

      const modeCode = jounalModes.map(m => m.code)
      const strCode = modeCode.join(',')

      return strCode
    }
  }
}
</script>
