<template>
  <div>
    <b-form
      @submit.prevent="doStore"
    >
      <b-row>
        <b-col md="6" cols="12">
          <b-form-group id="group-nik" label="Tipe Data Transaksi:" label-for="nik">
            <autocomplete
              :search="search"
              placeholder="Search Tipe Transaksi"
              aria-label="Search Wikipedia"
              :get-result-value="getResultValue"
              @submit="onAutoCompleteSubmit"
            ></autocomplete>
          </b-form-group>
        </b-col>
        <b-col md="6" cols="12">
          <b-form-group id="group-nik" label="Mode Jurnal:" label-for="nik">
            <b-form-checkbox-group
              v-model="form.journalModes"
              :options="options"
              name="flavour-1"
            ></b-form-checkbox-group>
          </b-form-group>
        </b-col>
        <b-col md="12" cols="12">
            <b-overlay
                :show="loading"
                rounded
                opacity="0.6"
                spinner-small
                spinner-variant="primary"
                class="d-inline-block"
              >
              <b-button
                block
                type="submit"
                variant="primary">
                  Simpan Data
              </b-button>
            </b-overlay>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
  import axios from 'axios'
  import Autocomplete from '@trevoreyre/autocomplete-vue'
  import '@trevoreyre/autocomplete-vue/dist/style.css'

  export default {
    components: {
      Autocomplete
    },
    computed: {
      loading() {
        return this.$store.getters['accountingPolicy/getLoading']
      }
    },
    data() {
      return {
        form: {
          transactionType: null,
          journalModes: [],
        },
        selected: [], // Must be an array reference!
        options: [
          { text: 'A', value: 'A' },
          { text: 'M', value: 'M' },
          { text: 'R', value: 'R' },
        ],
        show: true,
        state: {
            processing: false
        },
      }
    },
    methods: {
      async search(input) {
        const resp = await axios.get('/common/transaction-type/index', {
          params: {
            search: encodeURI(input)
          }
        })

        const { data } = resp.data

        return data
      },

      async doStore() {
        const payload = {
          transaction_type_id: this.form.transactionType,
          journal_modes: this.form.journalModes,
        }

        try {
          const res = await this.$store.dispatch('accountingPolicy/store', payload)
          this.$emit('storedAccPolicy', null)
        } catch (error) {
          this.$emit('storedAccPolicy', error)
        }
      },

      // We want to display the title
      getResultValue(result) {
        return result.name
      },

      // Open the selected article in
      // a new window
      onAutoCompleteSubmit(result) {
        this.form.transactionType = result.id
      },
    },
    mounted () {
    },
  }
</script>

<style>
.autocomplete-input {
  border-radius: 2px;
  padding: 7px 7px 7px 48px;
}
</style>
