<template>
  <div>
    <div class="bgc-white p-20 bd mb-3">
      <div class="row" style="margin: 0 -5px">
        <div class="col-md-3" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Kode Rekening</h6>
            <v-select :options="options.skpd"
              :reduce="item => item.id_skpd" label="" 
              placeholder="Pilih Rekening"
              :disabled="[1, 3, 10, 13].indexOf(user.pegawai.idJabatan) == -1 && (user.skpd && !user.skpd.is_skpd)"
              v-model="searchparams.idSkpd"
            />
          </div>
        </div>
        <div class="col-md-3" style="padding: 0 5px">
              <div class="form-group" >
                  <h6 class="c-grey-900">Uraian Akun</h6>
                  <input type="text" class="form-control" id="form-group"
                  placeholder="-">
              </div>
        </div>
        <div class="col-md-3" style="padding: 0 5px">
              <div class="form-group" >
                  <h6 class="c-grey-900">Nama Kewajiban</h6>
                  <input type="text" class="form-control" id="form-group"
                  placeholder="-">
              </div>
        
        </div>
        <div class="col-md-3" style="padding: 0 5px">
              <div class="form-group" >
              <h6 class="c-grey-900">Deksripsi Kreditor</h6>
              <input type="text" class="form-control" id="form-group"
               placeholder="Tuliskan Deskripsi">
              </div>
        </div>
        
        <div class="col-md-3" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Jenis Periode</h6>
            <v-select :options="options.skpd_unit"
              :reduce="item => item.col_id" label="col_name" 
              placeholder="Pilih Perode"
              v-model="searchparams.sort"
              multiple
            />
          </div>
        </div>
        <div class="col-md-3" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Tanggal Jatuh Tempo</h6>
            <b-form-datepicker 
              locale="id-ID"
              today-button
              reset-button
              close-button 
              :start-weekday="1" 
              v-model="searchparams.tanggalFrom" 
              class="mb-2" />
          </div>
        </div>
        <div class="col-md-3" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Tanggal Rencana Pembayaran</h6>
            <b-form-datepicker 
              locale="id-ID"
              today-button
              reset-button
              close-button 
              :start-weekday="1" 
              v-model="searchparams.tanggalTo" 
              class="mb-2" />
          </div>
        </div>
        <div class="col-md-3" style="padding: 0 5px">
              <div class="form-group" >
                  <h6 class="c-grey-900">Jumlah Kewajiban</h6>
                  <input type="text" class="form-control" id="form-group"
                  placeholder="-">
              </div>       
        </div>
        <!--<div class="col-md-6" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Filter Kode Rekening</h6>
            <v-select :options="options.rekening"
              :reduce="item => item.kodeRekening" label="namaRekening"
              :placeholder="'Semua rekening '"
              v-model="searchparams.kodeRekening"
            >
              <template slot="selected-option" slot-scope="item">
                {{ item.kodeRekening }}
                {{ item.namaRekening }}
              </template>
              <template slot="option" slot-scope="item">
                {{ item.kodeRekening }}
                {{ item.namaRekening }}
              </template>
            </v-select>
          </div>
        </div>-->
        
        
        
      </div>
    </div>
    
    <!-- <AddJurnalManual :searchparams="searchparams" :options="options" :konfigurasi="konfigurasi" />
    <EditJurnalManual :searchparams="searchparams" :options="options" />
    <ViewJurnalManual /> -->
  </div>
</template>

<script>
import axios from 'axios'
import { parseParams, stringifyParams } from "@/utils";

import swal from "sweetalert2";
import { mapGetters } from 'vuex'

export default {
  middleware: "auth",

  components: {
   
  },
  async asyncData({params}) {
    let searchparams = parseParams(params.params);
    
    let f3 = axios.get(`/common/skpd/index`, {
      params: {
        params: {
          is_pendapatan: 1,
        }
      }
    })
    let f4
    let f4resp
    if (searchparams.idSkpd && searchparams.idSkpd != 'all') {
      f4 = axios.get(`/common/unit-skpd/index`, {
        params: {
          params: {
            // is_pendapatan: 1,
            id_unit: searchparams.idSkpd
          }
        }
      })
      f4resp = (await f4).data
    }
    
    let f3resp = (await f3).data
    
    let options = {
      skpd: f3resp.data,
      skpd_unit: [],
      // sorts: [
      //   {col_id: 'tanggal@desc', col_name: 'Tanggal terbaru'},
      //   {col_id: 'tanggal@asc', col_name: 'Tanggal terlama'},
      //   {col_id: 'namaRekening@desc', col_name: 'Nama rekening (z-a)'},
      //   {col_id: 'namaRekening@asc', col_name: 'Nama rekening (a-z)'},
      //   {col_id: 'kodeRekening@desc', col_name: 'Kode rekening (9-0)'},
      //   {col_id: 'kodeRekening@asc', col_name: 'Kode rekening (0-9)'},
      // ],
    }
    options.skpd.unshift({
      id_skpd: "all",
      nama_skpd: "Semua SKPD"
    })
    let skpd_unit_disabled = true
    if (searchparams.idSkpd && searchparams.idSkpd != 'all') {
      options.skpd_unit = f4resp.data
      if (f4resp.data.length) {
        options.skpd_unit.unshift({
          id_skpd: "all",
          nama_skpd: "Semua Unit"
        })
        skpd_unit_disabled = false
      } else {
        skpd_unit_disabled = true
      }
    }
    return {
      searchparams,
      options,
      skpd_unit_disabled,
    }
  },
  data() {
    return {
      konfigurasi: []
    };
  },
  computed: {
    ...mapGetters({
      user: 'auth/user'
    }),
    searchparamsdata() {
      return {
        kodeRekeningBeginsWith: this.$route.params.kodering,
        ...this.searchparams,
      }
    }
  },
  mounted() {
    //this.getKonfigurasi()
  },
  
  watch: {
    'searchparams.idSkpd'() {
      this.reloadUnit()
      //this.getKonfigurasi()
    },
    'searchparams.idSkpdUnit'() {
      //this.getKonfigurasi()
    }
  }
};
</script>
