<template>
  <div>
    <b-modal
      size="lg"
      hide-footer
      v-model="popup"
      :title="popupTitle"
    >
      <AccountingPolicyForm
        v-if="editing"
        @storedAccPolicy="onStoredAccPolicy"
      />

      <AccountingPolicyDetail
        v-if="viewing"
        :data="detailAccPolicy"
      />
    </b-modal>
    <div class="card mb-3">
      <div class="card-body">
        <b-row>
          <b-col>
            <b-button
              pill
              size="md"
              variant="primary"
              class="pull-right mb-2"
              title="Tambah Data Kebijakan"
              @click="add"
            >
              <i class="fa fa-plus-circle"></i>
            </b-button>
          </b-col>
        </b-row>
        <AccountingPolicyTable
          @showAccPolicy="onShowAccPolicy"
        />
      </div>
    </div>
  </div>
</template>

<script>
import swal from 'sweetalert2'
import AccountingPolicyTable from "~/components/accountingPolicy/AccountingPolicyTable.vue";
import AccountingPolicyForm from "~/components/accountingPolicy/AccountingPolicyForm.vue";
import AccountingPolicyDetail from "~/components/accountingPolicy/AccountingPolicyDetail.vue";
import { ACCPOLICY_SUCCESS_CREATE } from '@/utils/constant'

export default {
  middleware: 'auth',

  components: {
    AccountingPolicyTable,
    AccountingPolicyForm,
    AccountingPolicyDetail,
  },

  computed: {
    popup: {
      get() {
        return this.editing || this.viewing
      },
      set(value) {
        this.editing = this.viewing = value
      }
    },
    popupColor() {
      return 'primary'
    },
    popupTitle() {
      if (this.editing) {
        return 'Tambah Data Kebijakan Akuntansi'
      } else if (this.viewing) {
        return 'Detail Kebijakan'
      }
      return ''
    }
  },

  created() {
    this.$store.dispatch('breadcrumbs/setItems', [
      {
        active: true,
        text: 'Kebijakan Akuntansi'
      }
    ])
  },

  data: function(){
    return {
      editing: false,
      viewing: false,
      detailAccPolicy: {},
    }
  },
  mounted(){
    $('#start-date').datepicker();
    $('#end-date').datepicker();
  },
  methods: {
    add () {
      this.editing = true
    },

    async onStoredAccPolicy(error) {
      this.index = -1
      this.editing = false
      if (! error) {
        this.$bvToast.toast(ACCPOLICY_SUCCESS_CREATE, {
          title: 'Success',
          toaster: 'b-toaster-top-center',
          autoHideDelay: 5000,
          variant: 'success',
        })
      } else {
        this.$bvToast.toast('Gagal membuat data', {
          title: 'Internal Server Error',
          toaster: 'b-toaster-top-center',
          autoHideDelay: 5000,
          variant: 'danger',
        })
      }
      try {
        await this.$store.dispatch('accountingPolicy/getList')
      } catch (error) {}

      this.modalShow = false
    },

    onShowAccPolicy (item) {
      this.detailAccPolicy = item
      this.viewing = true
    },
  }
}
</script>
