<template>
  <b-modal
    id="modal-edit-jurnalmanual"
    ref="modal"
    v-bind:title="'Edit Data Jurnal'"
    size="xl"
    @ok="handleOk"
    ok-title="Simpan"
    cancel-title="Batal"
    :ok-disabled="loading"
  >
    <form ref="form" @submit.stop.prevent="handleSubmit">
      <b-form-group
        label="SKPD"
      >
        <div class="form-control" readonly>
          {{ form.skpd ? form.skpd.nama_skpd : '-' }}
        </div>
      </b-form-group>
      <b-form-group
        label="Nomor Bukti *"
        label-for="nomor_bukti-input"
        :invalid-feedback="getFeedback('nomor_bukti')"
        :state="isStateValid('nomor_bukti')"
      >
        <b-form-input
          id="nomor_bukti-input"
          v-model="form.nomor_bukti"
          :state="isStateValid('nomor_bukti')"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group>
        <b-row>
        <div class="col-md-6">
          <label for="tanggal-input">Tanggal *</label>
          <b-form-datepicker 
            locale="id-ID"
            today-button
            reset-button
            close-button 
            :start-weekday="1" 
            v-model="form.tanggal" />
        </div>
        <div class="col-md-6">
          <b-form-group
            label="Upload berkas"
            label-for="files-input"
          >
            <b-form-file
              placeholder="Upload file"
              @change="doUpload($event)"
              ref="file-input"
              v-bind="$attrs"
              :accept="'.pdf, .jpeg, .jpg, .png, .xlsx, .xls, .doc, .docx'"
            ></b-form-file>
          </b-form-group>
        </div>
        </b-row>
      </b-form-group>
      <b-form-group
        label="Kegiatan"
        label-for="nama_kegiatan-input"
        :invalid-feedback="getFeedback('nama_kegiatan')"
        :state="isStateValid('nama_kegiatan')"
      >
        <b-form-input
          id="nama_kegiatan-input"
          v-model="form.nama_kegiatan"
          :state="isStateValid('nama_kegiatan')"
          required
        ></b-form-input>
        
      </b-form-group>
      <b-form-group
        label="Sub Kegiatan"
        label-for="nama_subkegiatan-input"
        :invalid-feedback="getFeedback('nama_subkegiatan')"
        :state="isStateValid('nama_subkegiatan')"
      >
        <b-form-input
          id="nama_subkegiatan-input"
          v-model="form.nama_subkegiatan"
          :state="isStateValid('nama_subkegiatan')"
          required
        ></b-form-input>
        
      </b-form-group>
      <b-form-group
        label="Keterangan"
        label-for="keterangan-input"
        :invalid-feedback="getFeedback('keterangan')"
        :state="isStateValid('keterangan')"
      >
        <b-form-input
          id="keterangan-input"
          v-model="form.keterangan"
          :state="isStateValid('keterangan')"
          required
        ></b-form-input>
        
      </b-form-group>
      <b-form-group>
        <button type='button' class="btn btn-info" @click="addNewRow">
            <i class="fa fa-plus-circle"></i>
            Tambah Rekening
        </button>
        <table class="table">
          <thead>
              <th scope="col">Hapus</th>
              <th scope="col" style="width:50%">Rekening</th>
              <th scope="col">Debet</th>
              <th scope="col">Kredit</th>
          </thead>
          <tbody>
            
            <tr v-for="jurnal_penyesuaian_detail in form.detailJurnal" :key="jurnal_penyesuaian_detail.id">
                <td scope="row" class="trashIconContainer">
                    <i class="fa fa-trash" @click="deleteRow(jurnal_penyesuaian_detail.id, jurnal_penyesuaian_detail)"></i>
                </td>
                <td style="width:50%">
                    <v-select :options="listData.subrekening"
                      :reduce="item => item.id" label="name"
                      :placeholder="'Pilih Rekening'"
                      v-model="jurnal_penyesuaian_detail.account_id"
                    >
                      <template slot="selected-option" slot-scope="item">
                        {{ item.code }}
                        {{ item.name }}
                      </template>
                      <template slot="option" slot-scope="item">
                        {{ item.code }}
                        {{ item.name }}
                      </template>
                    </v-select>
                </td>
                <td>
                    <b-form-input
                      class="text-right"
                      v-model="jurnal_penyesuaian_detail.debet"
                      v-currency
                      :state="isStateValid('debet')"
                      @blur="calculateTotal()"
                      required
                    ></b-form-input>
                </td>
                <td>
                    <b-form-input
                      class="text-right"
                      v-model="jurnal_penyesuaian_detail.kredit"
                      v-currency
                      :state="isStateValid('kredit')"
                      @blur="calculateTotal()"
                      required
                    ></b-form-input>
                </td>
            </tr>
            <tr>
              <td colspan="2" class="text-right">
                <b>Total</b>
              </td>
              <td>
                <b-form-group
                  label-for="debet-input"
                  :invalid-feedback="getFeedback('debet')"
                  :state="isStateValid('debet')"
                >
                  <b-form-input
                    id="debet-input"
                    class="text-right"
                    v-model="form.debet"
                    readonly
                    :state="isStateValid('debet')"
                    required
                  ></b-form-input>
                </b-form-group>
              </td>
              <td>
                <b-form-group
                  label-for="kredit-input"
                  :invalid-feedback="getFeedback('kredit')"
                  :state="isStateValid('kredit')"
                >
                  <b-form-input
                    class="text-right"
                    v-model="form.kredit"
                    readonly
                    :state="isStateValid('kredit')"
                    required
                  ></b-form-input>
                </b-form-group>
              </td>
            </tr>

          </tbody>
        </table>
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'
import { find } from 'lodash'

export default {
  props: {
    searchparams: {
      type: Object,
      default: {}
    },
    options: {
      type: Object,
      default: {}
    },
  },
  data() {
    return {
      eventfile: null,
      form: {
        
        nomor_bukti: "",
        tanggal: null,
        nama_kegiatan: "",
        nama_subkegiatan: "",
        keterangan: "",
        berkas: null,
        debet: 0,
        kredit: 0,
        detailJurnal: []
      },
      listData: {
        subrekening: []
      },
      loading: false,
      validateState: {},
    };
  },
  methods: {
    async initialData() {
      this.reloadSubRekening();
    },
    async reloadSubRekening() {
      let f4 = axios.get(`/common/account/index`, {
        params: {
          searchparams: {
            is_lo: '1'
          }
        }
      })
      let f4resp = (await f4).data
      this.listData.subrekening = f4resp.data
    },
    calculateTotal() {
        var totaldebet = 0; 
        var totalkredit = 0;
        var parentthis = this;
        $.each(this.form.detailJurnal, function(key,val) {             
            totaldebet += parentthis.parsecurrency(val.debet);
            totalkredit += parentthis.parsecurrency(val.kredit);
        });   
        this.form.debet = totaldebet;
        this.form.kredit = totalkredit;
    },
    deleteRow(id, jurnal_penyesuaian_detail) {
        var idx = this.form.detailJurnal.indexOf(jurnal_penyesuaian_detail);
        console.log(idx, id);
        if (idx > -1) {
            this.form.detailJurnal.splice(idx, 1);
        }
        this.calculateTotal();
    },
    addNewRow() {
        this.form.detailJurnal.push({
            id: '',
            account_id: '',
            debet: 0,
            kredit: 0
        });
    },
    parsecurrency(val){
      val = (val.toString().replace("Rp", "")).trim();
      val = val.toString().replaceAll(".", "");
      return isNaN(val) ? 0 : parseFloat(val);
    }, 
    isStateValid(name) {
      return !this.validateState[name] ? null : this.validateState[name].length == 0
    },
    doUpload(e) {
      this.eventfile = e.target.files;
    },
    getFeedback(name) {
      return this.validateState[name] ? this.validateState[name][0] : ''
    },
    getNamaSkpd(arr, s) {
      const obj = find(arr, {id_skpd: s})
      return obj ? obj.nama_skpd : '-'
    },
    
    checkFormValidity() {
      this.validateState = {};
      return true;
    },
    openModal(item) {
      this.$bvModal.show('modal-edit-jurnalmanual')
      this.form = Object.assign({}, item)
      this.initialData();
      this.validateState = {};
    },
    uploadResponse(res) {
      if (res.success) {
        this.form.files.push(res.url)
      }
    },
    removeFile(i) {
      this.form.files.splice(i, 1)
    },
    isUploading(val) {
      this.loading = val
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    async handleSubmit() {
      try {
        var parentthis = this;
        this.loading = true
        const formData = new FormData()
        if (this.eventfile !== null && this.eventfile.length > 0)
          formData.append('fileberkas', this.eventfile[0])
        $.each(this.form, function(key,val) {             
          if (key=="debet" || key=="kredit")
            formData.append(key, parentthis.parsecurrency(val))
          else if (typeof val === 'object' && val !== null)
            formData.append(key, JSON.stringify(val))
          else
            formData.append(key, val)
        });    
        formData.append('_method', 'PATCH');
        let resp = await axios.post('jurnal/jurnalmanual/' + this.form.id, formData, {
          headers: {
              'Content-Type': 'multipart/form-data'
          }
        })
        console.log('resp',resp)
        this.$nuxt.$emit('edited-jurnalmanual', resp.data.model)
        this.$nextTick(() => {
          this.$bvModal.hide("modal-edit-jurnalmanual");
        });
      } catch (e) {
        if (e.response) {
          console.log('error response', e.response, e.response.status, e.response.data)
          if (e.response.status == 422) {
            this.validateState = e.response.data.errors
          } else {
            swal.fire({
              type: 'error',
              title: "Server tidak terhubung",
              text: "Gagal menyimpan data",
              reverseButtons: true,
              confirmButtonText: 'Ok',
            })
          }
        } else {
          swal.fire({
            type: 'error',
            title: "Terjadi kesalahan",
            text: "Gagal menyimpan data",
            reverseButtons: true,
            confirmButtonText: 'Ok',
          })
        }
      }
      this.loading = false
    },
  },
  beforeDestroy() {
    this.$nuxt.$off('edit-jurnalmanual',this.openModal);
  },
  mounted() {
    this.$nuxt.$on('edit-jurnalmanual',this.openModal);
    this.initialData();
  },
  watch: {
    'form.kodeObjekRekening'() {
      this.reloadSubRekening()
    }
  }
};
</script>

<style>
</style>