<template>
  <div>
    <b-table
      striped
      hover
      responsive
      table-class="table-sm"
      :busy="loading"
      :head-variant="'primary'"
      :fields="fields"
      :items="items"
      foot-clone
    >
      <template v-slot:table-busy>
        <div class="text-center text-primary my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(tanggal)="row">
        {{ row.item.tanggal | formatDate }}
      </template>
      <template #cell(debet)="row">
        Rp&nbsp;{{ row.item.debet | formatMoney }}
      </template>
      <template #cell(actions)="row">
        <b-button
          pill
          variant="primary"
          size="sm"
          @click="info(row.item, row.index, $event.target)"
          class="mr-1"
        >
          <i class="fa fa-file fa-fixed-width"></i>
        </b-button>
        
      </template>
      <template #foot(debet)>
        Rp&nbsp;{{ total | formatMoney }}
      </template>
      <template #foot(keterangan)>
        <div class="text-right">Total</div>
      </template>

      <!-- Default fall-back custom formatted footer cell -->
      <template #foot()>
        &nbsp;
      </template>
    </b-table>

    <b-row>
      <b-col sm="12" md="4" class="my-1"> </b-col>
      <b-col sm="12" md="8" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="count"
          :per-page="paginate"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    count: {
      type: Number,
      default: 0,
    },
    current: {
      type: Number,
      default: 1,
    },
    paginate: {
      type: Number,
      default: 50,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    total: {
      type: Number,
      default: 50,
    },
    showUnit: {
      type: Boolean,
      default: false,
    },
    showSkpd: {
      type: Boolean,
      default: false,
    },
  },
  
  computed: {
    ...mapGetters({
      user: 'auth/user'
    }),
    fields() {
      return [
        { key: "nomor_bukti", label: "Nomor Bukti"},
        { key: "nama_kegiatan", label: "Kegiatan"},
        { key: "nama_subkegiatan", label: "Sub Kegiatan"},
        { key: "tanggal", label: "Tanggal" },
        { key: "skpd.nama_skpd", label: "SKPD", tdClass: this.showSkpd ? '' : 'd-none', thClass: this.showSkpd ? '' : 'd-none' },
        { key: "keterangan", label: "Keterangan" },
        { key: "debet", label: "Debet/Kredit", tdClass: 'text-right' },
        { key: "actions", label: "Aksi" },
      ]
    }
  },
  data() {
    return {
      currentPage: this.current,
    };
  },
  watch: {
    current(value) {
      this.currentPage = value;
    },
    currentPage(value) {
      this.$emit('changepage', value)
    },
  },
  methods: {
    info(item, index, target) {
      this.$nuxt.$emit('view-jurnalmanual', item)
    },
  },
};
</script>
