<template>
  <b-modal
    id="modal-view-jurnalmanual"
    ref="modal"
    title="Lihat Data Jurnal"
    size="xl"
  >
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Nomor Bukti :</div>
        <div class="col-md-9">{{ item.nomor_bukti }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Tanggal :</div>
        <div class="col-md-9">{{ item.tanggal | formatDate }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Kegiatan :</div>
        <div class="col-md-9">{{ item.nama_kegiatan}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Sub Kegiatan :</div>
        <div class="col-md-9">{{ item.nama_subkegiatan}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Keterangan :</div>
        <div class="col-md-9">{{ item.keterangan }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Jumlah Debet/Kredit :</div>
        <div class="col-md-9">Rp {{ item.debet | formatMoney }}</div>
      </div>
    </div>
    <div class="form-group" v-if="item.skpd">
      <div class="row">
        <div class="col-md-3 text-right">SKPD :</div>
        <div class="col-md-9">{{ item.skpd.nama_skpd }}</div>
      </div>
    </div>
    <div class="form-group" v-if="item.berkas">
      <div class="row">
        <div class="col-md-3 text-right">Berkas :</div>
        <div class="col-md-9"><download-export-button :url="'/jurnal/jurnalmanual/downloadberkas/'+item.id" :defaultFileName="'Berkas '" /></div>
      </div>
    </div>
    
    <template #modal-footer>
      <b-button variant="danger" @click="promptDelete"> Hapus </b-button>
      <b-button variant="info" @click="openEdit"> Edit </b-button>
      <b-button @click="$bvModal.hide('modal-view-jurnalmanual')">
        Tutup
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import axios from "axios";
import swal from "sweetalert2";

export default {
  data() {
    return {
      item: {},
    };
  },
  methods: {
    viewJurnal(item) {
      this.item = item;
      this.$bvModal.show("modal-view-jurnalmanual");
    },
    editedJurnal(item) {
      this.item = item;
    },
    promptDelete() {
      swal
        .fire({
          title: "Apakah Anda yakin?",
          text: "Data yang sudah dihapus tidak dapat dikembalikan!",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, hapus saja!",
          cancelButtonText: "Batal",
        })
        .then(async (result) => {
          if (result.value) {
            try {
              let resp = await axios.delete(
                "/jurnal/jurnalmanual/" + this.item.id
              );
              if (resp.data.success) {
                swal.fire("Data dihapus!", resp.data.message, "success");
                this.$bvModal.hide("modal-view-jurnalmanual");
                this.$nuxt.$emit("hapus-jurnalmanual", this.item);
              } else {
                swal.fire("Data gagal dihapus!", resp.data.message, "error");
              }
            } catch (e) {
              swal.fire("Data gagal dihapus!", "Mohon hubungi Admin.", "error");
            }
          }
        });
    },
    openEdit() {
      this.$nuxt.$emit("edit-jurnalmanual", this.item);
    },
  },
  beforeDestroy() {
    this.$nuxt.$off("view-jurnalmanual", this.viewJurnal);
    this.$nuxt.$off('edited-jurnalmanual',this.editedJurnal);
  },
  mounted() {
    this.$nuxt.$on("view-jurnalmanual", this.viewJurnal);
    this.$nuxt.$on('edited-jurnalmanual',this.editedJurnal);
  },
};
</script>

<style>
</style>