<template>
    <div>
        <div class="bgc-white p-20 bd">
            <div class="p-20 bdc-grey-500 border rounded mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6 class="c-grey-900">Kode Organisasi</h6>
                            <select name="" id="" class="form-control" placeholder="Pilih data pencarian">
                                <option>Pilih Data Pencarian</option>
                                <option value="">1.02.01</option>
                                <option value="">1.02.01</option>
                                <option value="">1.02.01</option>
                                <option value="">1.02.01</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6 class="c-grey-900">Unit Organisasi</h6>
                            <select name="" id="" class="form-control" placeholder="Pilih data pencarian">
                                <option>Pilih Data Pencarian</option>
                                <option value="">DINAS KESEHATAN</option>
                                <option value="">DINAS KESEHATAN</option>
                                <option value="">DINAS KESEHATAN</option>
                                <option value="">DINAS KESEHATAN</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6 class="c-grey-900">NIP</h6>
                            <select name="" id="" class="form-control" placeholder="Pilih data pencarian">
                                <option>Pilih Data Pencarian</option>
                                <option value="">19690911 200701 1 006</option>
                                <option value="">19690911 200701 1 006</option>
                                <option value="">19690911 200701 1 006</option>
                                <option value="">19690911 200701 1 006</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6 class="c-grey-900">Nama Bendahara</h6>
                            <select name="" id="" class="form-control" placeholder="Pilih data pencarian">
                                <option>Pilih Data Pencarian</option>
                                <option value="">YANI HERYANA., S.Si.,MM - 02.Bendahara Pengeluaran</option>
                                <option value="">YANI HERYANA., S.Si.,MM - 02.Bendahara Pengeluaran</option>
                                <option value="">YANI HERYANA., S.Si.,MM - 02.Bendahara Pengeluaran</option>
                                <option value="">YANI HERYANA., S.Si.,MM - 02.Bendahara Pengeluaran</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6 class="c-grey-900">Tanggal Awal</h6>
                            <div class="input-group date" id="start-date">
                                <input type="text" class="form-control">
                                <span class="input-group-addon"><i class="ti-calendar"></i></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6 class="c-grey-900">Tanggal Akhir</h6>
                            <div class="input-group date" id="end-date">
                                <input type="text" class="form-control">
                                <span class="input-group-addon"><i class="ti-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="p-20 bdc-grey-500 border rounded">
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="c-grey-900">Pencarian</h6>
                        <div class="d-md-flex ai-c">
                            
                            <div class="d-f ai-c w-100">
                                <select name="" id="" class="form-control" placeholder="Pilih data pencarian">
                                    <option>Filter</option>
                                    <option value="">No BM</option>
                                    <option value="">Tanggal BM</option>
                                    <option value="">Jenis Bukti</option>
                                    <option value="">Penandatanganan</option>
                                    <option value="">Kode Rekening</option>
                                </select>
                                <input type="text" class="form-control w-100">

                            </div>
                            <button class="btn btn-primary w-100 mt-3 mt-md-0" style="max-width:200px;">Cari</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="">
                    <h6 class="c-grey-900">Jurnal Penerimaan dan Penyetoran</h6>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-primary">
                                <tr>
                                    <th>NO BKU</th>
                                    <th>Tanggal BKU</th>
                                    <th>Jenis Bukti</th>
                                    <th>NO Bukti</th>
                                    <th>Tanggal Valid</th>
                                    <th>Penerimaan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="i in 6" :key="i">
                                    <td>01/TBP/DINKES/02/2017</td>
                                    <td>29/01/2018</td>
                                    <td>TBP</td>
                                    <td>01/TBP/DINKES/01/2018</td>
                                    <td>29/01/2018</td>
                                    <td>350.000,00</td>
                                    <td>
                                        <a href="#!" class="btn btn-primary rounded-pill" >View</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="">
                    <h6 class="c-grey-900">Ayat Jurnal</h6>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-primary">
                                <tr>
                                    <th>Kode</th>
                                    <th>Uraian</th>
                                    <th>Debet</th>
                                    <th>Kredit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="i in 2" :key="i">
                                    <td>3.1.2.05.01.</td>
                                    <td>Estimasi Perubahan SAL</td>
                                    <td>350.000,00</td>
                                    <td>0,00</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="float-right">
                                            <div style="min-width:100px" class="font-weight-bold">
                                                Sub Total
                                            </div>
                                        </div>
                                    </td>
                                    <td>350.000,00</td>
                                    <td>350.000,00</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="float-right">
                                            <div style="min-width:100px" class="font-weight-bold">
                                                Grand Total
                                            </div>
                                        </div>
                                    </td>
                                    <td>350.000,00</td>
                                    <td>350.000,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted(){
        $('#start-date').datepicker();
        $('#end-date').datepicker();
    }
}
</script>