<template>
  <div>
    <b-modal
      size="lg"
      hide-footer
      v-model="popup"
      :title="popupTitle"
    >
      <b-overlay
        :show="getCurrentLoading"
        rounded
        variant="transparent"
        opacity="0.6"
        spinner-small
        spinner-variant="dark"
        class="d-inline-block"
      >
        <AccountingPolicyForm
          v-if="editing"
          @storedAccPolicy="onStoredAccPolicy"
        />

        <TransactionDetail
          v-if="viewing"
          :data="getCurrent"
        />
      </b-overlay>
    </b-modal>
    <div class="bgc-white p-20 bd mb-3">
      <div class="row" style="margin:0 -5px">
        <b-col cols="3">
          <div class="form-group">
            <h6 class="c-grey-900">SKPD</h6>
            <autocomplete
              :search="searchSkpd"
              aria-label="Search Wikipedia"
              placeholder="Search Kode SKPD"
              :get-result-value="getResultValue"
              @submit="onAutoCompleteSubmit"
            ></autocomplete>
          </div>
        </b-col>
        <b-col cols="3">
          <div class="form-group">
            <h6 class="c-grey-900">Unit SKPD</h6>
            <autocomplete
              :search="searchSkpdUnit"
              aria-label="Search Wikipedia"
              placeholder="Search Unit SKPD"
              :get-result-value="getSearchSkpdUnitValue"
              @submit="onSubmitSearchSkpdUnit"
            ></autocomplete>
          </div>
        </b-col>
        <b-col cols="3">
          <div class="form-group">
            <h6 class="c-grey-900">Tanggal Awal</h6>
            <b-form-datepicker
              v-model="filters.startDate"
              class="mb-2"
            ></b-form-datepicker>
          </div>
        </b-col>
        <b-col cols="3">
          <div class="form-group">
            <h6 class="c-grey-900">Tanggal Akhir</h6>
            <b-form-datepicker
              v-model="filters.endDate"
              class="mb-2"
            ></b-form-datepicker>
          </div>
        </b-col>
        <b-col cols="12">
          <b-button
            @click="handleFilter"
            variant='primary'
            class="mr-1"
          >
            Terapkan
          </b-button>
        </b-col>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="c-grey-900">Jurnal Penerimaan</h5>
        <div class="d-md-flex justify-content-between ai-b mb-3">
          <div class="btn-group border mr-4 mb-3 mb-md-0" style="flex: 0 0 16em;">
            <a href="#!" @click.prevent="tabPenerimaan = 'transaksi'" class="btn" :class="tabPenerimaan == 'transaksi' ? 'btn-primary' : 'btn-light'">Transaksi</a>
            <a href="#!" @click.prevent="tabPenerimaan = 'jurnal'" class="btn" :class="tabPenerimaan == 'jurnal' ? 'btn-primary' : 'btn-light'">Buku Jurnal</a>
          </div>
          <div v-if="tabPenerimaan == 'transaksi'">
            <div class="d-flex justify-content-end">
              <select name="" id="" style="height:38px;" class="form-control-sm mb-2 mb-sm-0 mr-1" placeholder="Pilih data pencarian">
                <option>Jenis Rekening Kas</option>
                <option value="">1.02.01</option>
                <option value="">1.02.01</option>
                <option value="">1.02.01</option>
                <option value="">1.02.01</option>
              </select>
              <div class="col-md-5 ml-1 px-0" >
               
               <b-button v-b-modal.modal-add-journal variant="primary" class="text">     
                     
                Input Jurnal Manual              
              </b-button>
              </div>
              <b-button
                @click="handleExport"
                variant='primary'
                class="mr-0 ml-0 col-md-5"
              >
                Print Jurnal
                <!-- <i class="col-md-3 styleti-printer"></i> -->
              </b-button>
            </div>
          </div>
          
          <div  v-if="tabPenerimaan == 'jurnal'" class="w-100">
            <div class="d-sm-flex justify-content-between ai-c">
              <div class="btn-group border mb-2 mb-sm-0" style="flex: 0 0 16em;">
                <a href="#!" @click.prevent="tabPenerimaanJurnal = 'lra'" class="btn" :class="tabPenerimaanJurnal == 'lra' ? 'btn-primary' : 'btn-light'">LRA</a>
                <a href="#!" @click.prevent="tabPenerimaanJurnal = 'lo'" class="btn" :class="tabPenerimaanJurnal == 'lo' ? 'btn-primary' : 'btn-light'">LO</a>
                <a href="#!" @click.prevent="tabPenerimaanJurnal = 'neraca'" class="btn" :class="tabPenerimaanJurnal == 'neraca' ? 'btn-primary' : 'btn-light'">Neraca</a>
              </div>
              <div>

                
                <a href="#!" class="btn btn-primary">Tambah Jurnal</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <transition name="fade">
            <div v-if="tabPenerimaan == 'transaksi'">
              <TransactionTable
                @showTrx="onShowTrx"
              />
            </div>
          </transition>
          <transition name="fade">
            <div v-if="tabPenerimaan == 'jurnal'">
              <div v-if="tabPenerimaanJurnal == 'lra'">
                <TableJournalLRA />
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="c-grey-900">Jurnal LRA</h5>
                    <JournalLRA />
                  </div>
                </div>
              </div>
                <div v-if="tabPenerimaanJurnal == 'lo'">
                  <JournalBook />
                  <div class="card mb-3">
                    <div class="card-body">
                      <h5 class="c-grey-900">Jurnal LO</h5>
                      <JournalLO />
                    </div>
                  </div>
                </div>
                <div v-if="tabPenerimaanJurnal == 'neraca'">
                  <JournalBook />
                </div>
              </div>
            </transition>
          </div>
      </div>
    </div>
    <AddJournal :searchparams="searchparams" :options="options" :konfigurasi="konfigurasi" :konfigurasiMetodeInput="konfigurasiMetodeInput" />
    </div>
</template>

<script>
import axios from 'axios'
import FileSaver from 'file-saver'
import { mapGetters } from 'vuex'
import TransactionDetail from "~/components/revenueJournalTrx/TransactionDetail";
import TransactionTable from "~/components/revenueJournalTrx/TransactionTable";
import TableJournalLRA from "~/components/revenueJournalTrx/TableJournalLRA";
import JournalLRA from "~/components/revenueJournalTrx/JournalLRA";
import JournalLO from "~/components/revenueJournalTrx/JournalLO";
import JournalBook from "~/components/revenueJournalTrx/JournalBook";
import Autocomplete from '@trevoreyre/autocomplete-vue';
import AddJournal from "~/components/revenueJournalTrx/AddJournal"

export default {
  middleware: 'auth',

  components: {
    Autocomplete,
    TransactionDetail,
    TransactionTable,
    TableJournalLRA,
    JournalLRA,
    JournalLO,
    JournalBook,
    AddJournal,
  },

  computed: {
    ...mapGetters('revenueJournalTrx', ['getCurrent', 'getCurrentLoading', 'getLoading']),
    options: {
      set(value) {
        this.$store.commit('revenueJournalTrx/SET_TABLE_OPTIONS', value)
        this.$store.dispatch('revenueJournalTrx/getRecords')
      },
      get() {
        return this.$store.getters['revenueJournalTrx/getTableOption']
      }
    },
    popup: {
      get() {
        return this.editing || this.viewing
      },
      set(value) {
        this.editing = this.viewing = value
      }
    },
    popupColor() {
      return 'primary'
    },
    popupTitle() {
      if (this.editing) {
        return 'Tambah Data Kebijakan Akuntansi'
      } else if (this.viewing) {
        return 'Detail Transaksi'
      }
      return ''
    }
  },

  created() {
    this.$store.dispatch('breadcrumbs/setItems', [
      {
        active: true,
        text: 'Jurnal Pendapatan'
      }
    ])
  },

  data: function(){
    return {
      editing: false,
      viewing: false,
      detailTrx: {},
      tabPenerimaan: 'transaksi',
      tabPenerimaanJurnal: 'lra',
      filters: {
        skpdId: null,
        skpdUnitId: null,
        startDate: null,
        endDate: null,
      }
    }
  },

  methods: {
    async searchSkpd(input) {
      const resp = await axios.get('/common/skpd/index', {
        params: {
          search: encodeURI(input),
        }
      })

      const { data } = resp.data

      return data
    },

    async searchSkpdUnit(input) {
      const resp = await axios.get('/common/unit-skpd/index', {
        params: {
          search: encodeURI(input),
          order: 'kode_unit',
          order_direction: 'desc',
        }
      })

      const { data } = resp.data

      return data
    },

    onShowTrx (item) {
      this.$store.dispatch('revenueJournalTrx/getCurrent', item.id)
      this.viewing = true
    },

    getResultValue(result) {
      return result.kode_skpd
    },

    getSearchSkpdUnitValue(result) {
      return result.nama_unit
    },

    onAutoCompleteSubmit(result) {
      this.filters.skpdId = result.id
    },

    onSubmitSearchSkpdUnit(result) {
      this.filters.skpdUnitId = result.id
    },

    handleFilter() {
      this.options = {
        ...this.options,
        ...this.filters,
      }
    },

    async handleExport () {
      try{
        const resp = await axios.post('/jurnal-pendapatan/transaksi/export', null, {
          responseType: 'blob',
        })
        const { data } = resp
        const fileName = 'jurnal-transaksi.xlsx'
        var blob = new Blob(["Hello, world!"], {type: "text/plain;charset=utf-8"});
        FileSaver.saveAs(data, fileName);
      } catch (e) {
        console.log(e)
      }
    },
  },

  mounted(){
    $('#start-date').datepicker();
    $('#end-date').datepicker();
  }
}
</script>

<style>
.autocomplete-input {
  border-radius: 2px;
  padding: 7px 7px 7px 48px;
}
</style>
