<template>
  <b-modal
    id="modal-add-journal"
    ref="modal"
    title="Input Data Journal"
    size="xl"
    @show="resetModal"
    @hidden="resetModal"
    @ok="handleOk"
    ok-title="Simpan"
    cancel-title="Batal"
    :ok-disabled="loading"
  >
    <form ref="form" @submit.stop.prevent="handleSubmit">
        <!--  label="Input Data Jurnal" -->
      <b-form-group
       
      > 
        <div class="form-control" readonly>
          {{ form.idSkpd ? getNamaSkpd(options.skpd,form.idSkpd) : 'Isi Jurnal Terlebih Dahulu' }}
          {{ form.idSkpdUnit ? ' | Unit ' + getNamaSkpd(options.skpd_unit,form.idSkpdUnit) : '' }}
        </div>
      </b-form-group>
      <b-form-group
        label="Nomor Transaksi *"
        label-for="nomorTrans-input"
        :invalid-feedback="getFeedback('nomorTrans')"
        :state="isStateValid('nomorTrans')"
      >
        <b-form-input
          id="nomorTrans-input"
          v-model="form.nomorTrans"
          :state="isStateValid('nomorTrans')"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label="Nomor Dokumen *"
        label-for="nomorDok-input"
        :invalid-feedback="getFeedback('nomorDok')"
        :state="isStateValid('nomorDok')"
      >
        <b-form-input
          id="nomorDok-input"
          v-model="form.nomorDok"
          :state="isStateValid('nomorDok')"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label="Nama Kegiatan *"
        label-for="namaKegiatan-input"
        :invalid-feedback="getFeedback('namaKegiatan')"
        :state="isStateValid('namaKegiatan')"
      >
        <b-form-input
          id="namaKegiatan-input"
          v-model="form.namaKegiatan"
          :state="isStateValid('namaKegiatan')"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label="Nama sub Kegiatan *"
        label-for="namaSub-input"
        :invalid-feedback="getFeedback('namaSub')"
        :state="isStateValid('namaSub')"
      >
        <b-form-input
          id="namaSub-input"
          v-model="form.namaSub"
          :state="isStateValid('namaSub')"
          required
        ></b-form-input>
      </b-form-group>
      <!-- <b-form-group
        label="Rekening *"
        label-for="kodeRekening-input"
        :invalid-feedback="getFeedback('kodeRekening')"
        :state="isStateValid('kodeRekening')"
      >
        <v-select :options="enabledRekening"
          :reduce="item => item.kodeRekening" label="namaRekening"
          :placeholder="'Pilih rekening'"
          id="kodeRekening-input"
          v-model="form.kodeRekening"
        >
          <template slot="selected-option" slot-scope="item">
            {{ item.kodeRekening }}
            {{ item.namaRekening }}
          </template>
          <template slot="option" slot-scope="item">
            {{ item.kodeRekening }}
            {{ item.namaRekening }}
          </template>
        </v-select>
      </b-form-group>  -->
      <!-- <div class="form-group">
        <label>Metode Input *</label>
        <b-form-radio-group
          v-model="form.metodeInput"
          :options="optionMetodeInput"
          class="mb-3"
          :disabled="!editableMetodeInput"
        ></b-form-radio-group>
      </div> -->
      <!-- <div class="form-group" v-if="form.metodeInput == 'per_wp'">
        <label>Ada SKPD *</label>
        <b-form-radio-group
          v-model="form.hasSkpd"
          :options="optionAdaTidak"
          class="mb-3"
        ></b-form-radio-group>
      </div> -->
      <!-- <b-form-group
        v-if="form.hasSkpd"
        label="Nomor SKPD *"
        label-for="nomorSkpd-input"
        :invalid-feedback="getFeedback('nomorSkpd')"
        :state="isStateValid('nomorSkpd')"
      >
        <b-form-input
          id="nomorSkpd-input"
          v-model="form.nomorSkpd"
          :state="isStateValid('nomorSkpd')"
          required
        ></b-form-input>
      </b-form-group>
      <div class="form-group" v-if="form.metodeInput == 'per_wr'">
        <label>Ada SKRD *</label>
        <b-form-radio-group
          v-model="form.hasSkrd"
          :options="optionAdaTidak"
          class="mb-3"
        ></b-form-radio-group>
      </div>
      <b-form-group
        v-if="form.hasSkrd"
        label="Nomor SKRD *"
        label-for="nomorSkrd-input"
        :invalid-feedback="getFeedback('nomorSkrd')"
        :state="isStateValid('nomorSkrd')"
      >
        <b-form-input
          id="nomorSkrd-input"
          v-model="form.nomorSkrd"
          :state="isStateValid('nomorSkrd')"
          required
        ></b-form-input> -->
      <!-- </b-form-group> -->
      <div class="form-group">
        <label for="tanggalTbp-input">Tanggal *</label>
        <b-form-datepicker 
          locale="id-ID"
          today-button
          reset-button
          close-button 
          :start-weekday="1" 
          v-model="form.tanggalTbp" />
      </div>
      <!-- <div class="form-group" v-show="form.metodeInput == 'mingguan' || form.metodeInput == 'bulanan'">
        <label for="tanggalTbpAkhir-input">Tanggal TBP Akhir</label>
        <b-form-datepicker 
          locale="id-ID"
          today-button
          reset-button
          close-button 
          :start-weekday="1" 
          v-model="form.tanggalTbpAkhir"
          :min="tanggalTbpMin"
          :max="tanggalTbpMax" />
      </div> -->
      <b-form-group
        label="Nominal *"
        label-for="nilaiDetailTbp-input"
        :invalid-feedback="getFeedback('nilaiDetailTbp')"
        :state="isStateValid('nilaiDetailTbp')"
      >
        <b-form-input
          id="nilaiDetailTbp-input"
          v-model="form.nilaiDetailTbp"
          v-currency
          :state="isStateValid('nilaiDetailTbp')"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label="Keterangan Pembayaran / Referensi *"
        label-for="keteranganPembayaran-input"
        :invalid-feedback="getFeedback('keteranganPembayaran')"
        :state="isStateValid('keteranganPembayaran')"
      >
        <b-form-textarea
          id="keteranganPembayaran-input"
          v-model="form.keteranganPembayaran"
          :state="isStateValid('keteranganPembayaran')"
          rows="3"
          max-rows="6"
          required
        ></b-form-textarea>
      </b-form-group>
      <b-form-group
        label="Upload berkas"
        label-for="files-input"
      >
       <MultiFileUpload url="/common/upload/penerimaan-tbp" @response="uploadResponse" v-bind="{id: 'files-input'}" @isUploading="isUploading" />
       <MultiFile :files="form.files" @removeFile="removeFile" />
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'
import { find } from 'lodash'
import MultiFileUpload from '~/components/MultiFileUpload'
import MultiFile from '~/components/MultiFile'

export default {
  components: {
    MultiFile,
    MultiFileUpload
  },
  props: {
    searchparams: {
      type: Object,
      default: {}
    },
    options: {
      type: Object,
      default: {}
    },
    konfigurasiMetodeInput: {
      type: Object,
      default: {}
    },
    konfigurasi: {
      type: Array,
      default: []
    }
  },
  data() {
    return {
      form: {
        nomorTbp: "",
        nomorSkpd: "",
        nomorSkrd: "",
        tanggalTbp: null,
        tanggalTbpAkhir: null,
        kodeRekening: null,
        nilaiDetailTbp: null,
        keteranganPembayaran: null,
        metodeInput: 'harian',
        files: [],
      },
      loading: false,
      editableMetodeInput: false,
      validateState: {},
      optionAdaTidak: [
        {value: true, text: 'Ada'},
        {value: false, text: 'Tidak Ada'},
      ],
    };
  },
  computed: {
    optionMetodeInput() {
      let res = [
        {value: 'harian', text: 'Harian'},
        {value: 'mingguan', text: 'Mingguan'},
        {value: 'bulanan', text: 'Bulanan'},
      ]
      if (this.form.kodeRekening && this.form.kodeRekening.indexOf('4.1.01') > -1) {
        res.push({value: 'per_wp', text: 'Per Wajib Pajak'})
      }
      if (this.form.kodeRekening && this.form.kodeRekening.indexOf('4.1.02') > -1) {
        res.push({value: 'per_wr', text: 'Per Wajib Retribusi'})
      }
      return res
    },
    enabledRekening() {
      if (this.konfigurasi.length == 0) {
        return this.options.rekening
      }
      return this.options.rekening.filter((rek) => {
        return this.konfigurasi.indexOf(rek.kodeRekening) > -1
      })
    },
    tanggalTbpMin: function () {
      const date = new Date(this.form.tanggalTbp)

      return new Date(date.setDate(date.getDate() + 1))
    },
    tanggalTbpMax: function () {
      const date = new Date(this.form.tanggalTbp)

      return new Date(date.getFullYear(), date.getMonth() + 1, 0);
    }
  },
  methods: {
    isStateValid(name) {
      return !this.validateState[name] ? null : this.validateState[name].length == 0
    },
    getFeedback(name) {
      return this.validateState[name] ? this.validateState[name][0] : ''
    },
    getNamaSkpd(arr, s) {
      const obj = find(arr, {id_skpd: s})
      return obj ? obj.nama_skpd : '-'
    },
    checkFormValidity() {
      this.validateState = {};
      return true;
    },
    resetModal() {
      const now = new Date
      this.form.nomorTbp = "";
      this.form.nomorSkpd = "";
      this.form.nomorSkrd = "";
      this.form.keteranganPembayaran = "";
      this.form.nilaiDetailTbp = null;
      this.form.tanggalTbp = now.getFullYear() +'-'+ ('' + (now.getMonth()+1)).padStart(2, '0') +'-'+ ('' + (now.getDate())).padStart(2, '0');
      this.form.tanggalTbpAkhir = new Date(new Date(this.form.tanggalTbp).setDate(new Date(this.form.tanggalTbp).getDate() + 1))
      this.form.kodeRekening = this.searchparams.kodeRekening;
      this.form.idSkpd = this.searchparams.idSkpd;
      this.form.idSkpdUnit = this.searchparams.idSkpdUnit != 'all' ? this.searchparams.idSkpdUnit : null;
      this.form.files = [];
      this.validateState = {};
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    async handleSubmit() {
      try {
        this.loading = true
        let resp = await axios.post('penerimaan/tbp', {
          ...this.form,
          nilaiDetailTbp: this.$ci.parse(this.form.nilaiDetailTbp),
        })
        console.log('resp',resp)
        // Hide the modal manually
        this.$nuxt.$emit('add-journal', resp.data.model)
        this.$nextTick(() => {
          this.$bvModal.hide("modal-add-journal");
        });
      } catch (e) {
        if (e.response) {
          console.log('error response', e.response, e.response.status, e.response.data)
          if (e.response.status == 422) {
            this.validateState = e.response.data.errors
          } else {
            swal.fire({
              type: 'error',
              title: "Server tidak terhubung",
              text: "Gagal menyimpan data",
              reverseButtons: true,
              confirmButtonText: 'Ok',
            })
          }
        } else {
          swal.fire({
            type: 'success',
            title: "Sukses",
            text: "sukses menyimpan data",
            reverseButtons: true,
            confirmButtonText: 'Ok',
          })
        }
      }
      this.loading = false
    },
    uploadResponse(res) {
      if (res.success) {
        this.form.files.push(res.url)
      }
    },
    removeFile(i) {
      this.form.files.splice(i, 1)
    },
    isUploading(val) {
      this.loading = val
    },
  },
  mounted() {
  },
  watch: {
    'form.kodeRekening'() {
      if (this.konfigurasiMetodeInput[this.form.kodeRekening]) {
        this.form.metodeInput = this.konfigurasiMetodeInput[this.form.kodeRekening]
        this.editableMetodeInput = false
      } else {
        this.form.metodeInput = 'harian'
        this.editableMetodeInput = true
      }
    },
    'form.tanggalTbp'() {
      switch(this.form.metodeInput) {
        case 'harian':
        case 'per_wp':
        case 'per_wr':
          this.form.tanggalTbpAkhir = null
          break;
      }
    }
  }
};
</script>

<style>
</style>