<template>
  <b-modal
    id="modal-edit-JournalManual"
    ref="modal"
    title="Input Data JournalManual"
    size="xl"
    @ok="handleOk"
    ok-title="Simpan"
    cancel-title="Batal"
    :ok-disabled="loading"
  >
    <form ref="form" @submit.stop.prevent="handleSubmit">
      <b-form-group
        label="SKPD"
      >
        <div class="form-control" readonly>
          {{ form.skpd ? form.skpd.nama_skpd : '-' }}
        </div>
      </b-form-group>
      <b-form-group
        label="Nomor Transaksi *"
        label-for="nomorTbp-input"
        :invalid-feedback="getFeedback('nomorTbp')"
        :state="isStateValid('nomorTbp')"
      >
        <b-form-input
          id="nomorTbp-input"
          v-model="form.nomorTbp"
          :state="isStateValid('nomorTbp')"
          required
        ></b-form-input>
      </b-form-group>
      <div class="form-group">
        <label for="tanggalTbp-input">Tanggal *</label>
        <b-form-datepicker 
          locale="id-ID"
          today-button
          reset-button
          close-button 
          :start-weekday="1" 
          v-model="form.tanggalTbp" />
      </div>
      <div class="form-group" v-show="form.metodeInput == 'mingguan' || form.metodeInput == 'bulanan'">
        <label for="tanggalTbpAkhir-input">Tanggal TBP Akhir</label>
        <b-form-datepicker 
          locale="id-ID"
          today-button
          reset-button
          close-button 
          :start-weekday="1" 
          v-model="form.tanggalTbpAkhir"
          :min="tanggalTbpMin"
          :max="tanggalTbpMax" />
      </div>
      <!-- <b-form-group
        label="Rekening *"
        label-for="kodeRekening-input"
        :invalid-feedback="getFeedback('kodeRekening')"
        :state="isStateValid('kodeRekening')"
      >
        <v-select :options="enabledRekening"
          :reduce="item => item.kodeRekening" label="namaRekening"
          :placeholder="'Pilih rekening'"
          id="kodeRekening-input"
          v-model="form.kodeRekening"
        >
          <template slot="selected-option" slot-scope="item">
            {{ item.kodeRekening }}
            {{ item.namaRekening }}
          </template>
          <template slot="option" slot-scope="item">
            {{ item.kodeRekening }}
            {{ item.namaRekening }}
          </template>
        </v-select>
      </b-form-group> -->
      <b-form-group
        label="Nominal *"
        label-for="nilaiDetailTbp-input"
        :invalid-feedback="getFeedback('nilaiDetailTbp')"
        :state="isStateValid('nilaiDetailTbp')"
      >
        <b-form-input
          id="nilaiDetailTbp-input"
          v-model="form.nilaiDetailTbp"
          v-currency
          :state="isStateValid('nilaiDetailTbp')"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label="Keterangan Pembayaran / Referensi *"
        label-for="keteranganPembayaran-input"
        :invalid-feedback="getFeedback('keteranganPembayaran')"
        :state="isStateValid('keteranganPembayaran')"
      >
        <b-form-textarea
          id="keteranganPembayaran-input"
          v-model="form.keteranganPembayaran"
          :state="isStateValid('keteranganPembayaran')"
          rows="3"
          max-rows="6"
          required
        ></b-form-textarea>
      </b-form-group>
      <b-form-group
        label="Upload berkas"
        label-for="files-input"
      >
       <MultiFileUpload url="/common/upload/penerimaan-tbp" @response="uploadResponse" v-bind="{id: 'files-input'}" @isUploading="isUploading" />
       <MultiFile :files="form.files" @removeFile="removeFile" />
      </b-form-group>
    </form>
  </b-modal>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'
import { find } from 'lodash'
import MultiFileUpload from '~/components/MultiFileUpload'

export default {
  components: {
    MultiFileUpload
  },
  props: {
    searchparams: {
      type: Object,
      default: {}
    },
    options: {
      type: Object,
      default: {}
    },
    konfigurasi: {
      type: Array,
      default: []
    }
  },
  data() {
    return {
      form: {
        nomorTbp: "",
        tanggalTbp: null,
        tanggalTbpAkhir: null,
        kodeRekening: null,
        nilaiDetailTbp: null,
        keteranganPembayaran: null,
        files: [],
      },
      loading: false,
      validateState: {},
    };
  },
  computed: {
    optionMetodeInput() {
      let res = [
        {value: 'harian', text: 'Harian'},
        {value: 'mingguan', text: 'Mingguan'},
        {value: 'bulanan', text: 'Bulanan'},
      ]
      if (this.form.kodeRekening && this.form.kodeRekening.indexOf('4.1.01') > -1) {
        res.push({value: 'per_wp', text: 'Per Wajib Pajak'})
      }
      if (this.form.kodeRekening && this.form.kodeRekening.indexOf('4.1.02') > -1) {
        res.push({value: 'per_wr', text: 'Per Wajib Retribusi'})
      }
      return res
    },
    enabledRekening() {
      if (this.konfigurasi.length == 0) {
        return this.options.rekening
      }
      return this.options.rekening.filter((rek) => {
        return this.konfigurasi.indexOf(rek.kodeRekening) > -1
      })
    },
    tanggalTbpMin: function () {
      const date = new Date(this.form.tanggalTbp)

      return new Date(date.setDate(date.getDate() + 1))
    },
    tanggalTbpMax: function () {
      const date = new Date(this.form.tanggalTbp)

      return new Date(date.getFullYear(), date.getMonth() + 1, 0);
    }
  },
  methods: {
    isStateValid(name) {
      return !this.validateState[name] ? null : this.validateState[name].length == 0
    },
    getFeedback(name) {
      return this.validateState[name] ? this.validateState[name][0] : ''
    },
    getNamaSkpd(arr, s) {
      const obj = find(arr, {id_skpd: s})
      return obj ? obj.nama_skpd : '-'
    },
    checkFormValidity() {
      this.validateState = {};
      return true;
    },
    openModal(item) {
      this.$bvModal.show('modal-edit-JournalManual')
      this.form = Object.assign({}, item)
      this.validateState = {};
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    async handleSubmit() {
      try {
        this.loading = true
        let resp = await axios.patch('penerimaan/tbp/' + this.form.idTbp, {
          ...this.form,
          nilaiDetailTbp: this.$ci.parse(this.form.nilaiDetailTbp),
        })
        console.log('resp',resp)
        this.$nuxt.$emit('edited-JournalManual', resp.data.model)
        this.$nextTick(() => {
          this.$bvModal.hide("modal-edit-JournalManual");
        });
      } catch (e) {
        if (e.response) {
          console.log('error response', e.response, e.response.status, e.response.data)
          if (e.response.status == 422) {
            this.validateState = e.response.data.errors
          } else {
            swal.fire({
              type: 'error',
              title: "Server tidak terhubung",
              text: "Gagal menyimpan data",
              reverseButtons: true,
              confirmButtonText: 'Ok',
            })
          }
        } else {
          swal.fire({
            type: 'error',
            title: "Terjadi kesalahan",
            text: "Gagal menyimpan data",
            reverseButtons: true,
            confirmButtonText: 'Ok',
          })
        }
      }
      this.loading = false
    },
    uploadResponse(res) {
      if (res.success) {
        this.form.files.push(res.url)
      }
    },
    removeFile(i) {
      this.form.files.splice(i, 1)
    },
    isUploading(val) {
      this.loading = val
    },
  },
  beforeDestroy() {
    this.$nuxt.$off('edit-JournalManual',this.openModal);
  },
  mounted() {
    this.$nuxt.$on('edit-JournalManual',this.openModal);
  },
};
</script>

<style>
</style>