<template>
  <div>
    <!-- filter -->
    <b-row>
      <b-col md="2" cols="12">
        <b-form-select
          :options="results"
        ></b-form-select>
      </b-col>
      <b-col md="9" cols="12">
        <b-form-input
          v-model="search"
          placeholder="Search"
        ></b-form-input>
      </b-col>
      <b-col md="1" cols="12">
        <b-button
          variant='primary'
          class="mr-1"
        >
          Cari
        </b-button>
      </b-col>
    </b-row>
    <br>
    <!-- Table -->
    <b-table-simple
      responsive
      striped
      hover
    >
      <b-thead
        :head-variant="'primary'"
      >
          <b-tr>
          <b-th><input type="checkbox"></b-th>
          <b-th>No Bukti</b-th>
          <b-th>Tipe Jurnal</b-th>
          <b-th>Tipe</b-th>
          <b-th>Kode</b-th>
          <b-th>Debit</b-th>
          <b-th>Kredit</b-th>
        </b-tr>
      </b-thead>
      <b-tbody v-for="(item, index) in items" :key="index">
        <b-tr>
          <b-td><input type="checkbox"></b-td>
          <b-td>{{ item.evidenceNumber }}</b-td>
          <b-td>{{ item.journalType }}</b-td>
          <b-td>{{ item.type }}</b-td>
          <b-td>{{ item.code }}</b-td>
          <b-td>{{ item.debit }}</b-td>
          <b-td>{{ item.kredit }}</b-td>
        </b-tr>
        <b-tr>
          <b-td></b-td>
          <b-td></b-td>
          <b-td></b-td>
          <b-td>4.1.2.02.01.03.04.04.</b-td>
          <b-td>3. Sewa Gedung, Ruangan, Aula, Asrama - LRA	</b-td>
          <b-td>2222</b-td>
          <b-td>0</b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        selectedAll: false,
        fields: [
          { key: 'selected', label: '' },
          { key: 'evidenceNumber', label: 'No Bukti' },
          { key: 'journalType', label: 'Tipe Jurnal' },
          { key: 'type', label: 'Tipe' },
          { key: 'code', label: 'Kode' },
          { key: 'desc', label: 'Deskripsi' },
          { key: 'debit', label: 'Debit' },
          { key: 'kredit', label: 'Kredit' },
        ],
        items: [
          {
            evidenceNumber: '01/TBP/DINKES/01/2018',
            journalType: 'LRA',
            type: 'A',
            code: '3.1.2.05.01.',
            desc: 'Estimasi Perubahan SAL',
            debit: '350.000,00',
            kredit: '0',
          },
        ]
      }
    }
  }
</script>
