<template>
  <div>
    <!-- filter -->
    <b-row>
      <b-col md="2" cols="6">
        No Transaksi
      </b-col>
      <b-col md="4" cols="6">
        : 0929101PL
      </b-col>
      <b-col md="2" cols="6">
        Nama Kegiatan
      </b-col>
      <b-col md="4" cols="6">
        : Pengadaan alat komputer
      </b-col>
    </b-row>

    <b-row>
      <b-col md="2" cols="6">
        No Dokumen
      </b-col>
      <b-col md="4" cols="6">
        : 12.01.21LRA
      </b-col>
      <b-col md="2" cols="6">
        Nama Sub Kegiatan
      </b-col>
      <b-col md="4" cols="6">
        : Pembelian monitor
      </b-col>
    </b-row>
    <b-row>
      <b-col md="2" cols="6">
        Tanggal
      </b-col>
      <b-col md="4" cols="6">
        : 12 Januari 2021
      </b-col>
    </b-row>
    <br>
    <!-- Table -->
    <b-table
      striped
      hover
      responsive
      :head-variant="'primary'"
      :fields="fields"
      :items="items"
    >
      <template #cell(selected)="row">
        <b-form-group>
          <input
            type="checkbox"
            v-model="row.item.selected"
          >
        </b-form-group>
      </template>
      <template #cell(actions)="row">
        <b-button
          pill
          variant='primary'
          size="sm"
          @click="info(row.item, row.index, $event.target)"
          class="mr-1"
        >
          <i class="ti-eye"></i>
        </b-button>
        <b-button
          pill
          variant='success'
          size="sm"
          @click="info(row.item, row.index, $event.target)"
          class="mr-1"
        >
          <i class="fa fa-plus-circle"></i>
        </b-button>
      </template>
      <!-- A custom formatted footer cell for field 'name' -->
      <template v-slot:custom-foot>
        <tr>
          <td
            class="text-right"
            :colspan="fields.length - 2"
          >
            Sub Total
          </td>
          <td class=""> 0 </td>
          <td class=""> 0 </td>
        </tr>
        <tr>
          <td
            class="text-right"
            :colspan="fields.length - 2"
          >
            Grand Total
          </td>
          <td class=""> 0 </td>
          <td class=""> 0 </td>
        </tr>
      </template>
    </b-table>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        selectedAll: false,
        fields: [
          { key: 'code', label: 'Kode' },
          { key: 'uraian', label: 'Uraian' },
          { key: 'debet', label: 'Debet' },
          { key: 'kredit', label: 'Kredit' },
        ],
        items: [
          {
            code: '3.1.2.05.01.',
            uraian: 'Estimasi Perubahan SAL',
            debet: '350.000,00',
            kredit: '0,00',
          },
        ]
      }
    }
  }
</script>
