<template>
  <div>
    <!-- filter -->
    <b-row>
      <b-col md="2" cols="12">
        <b-form-select
          :options="[]"
        ></b-form-select>
      </b-col>
      <b-col md="9" cols="12">
        <b-form-input
          placeholder="Search"
        ></b-form-input>
      </b-col>
      <b-col md="1" cols="12">
        <b-button
          variant='primary'
          class="mr-1"
        >
          Cari
        </b-button>
      </b-col>
    </b-row>
    <br>
    <!-- Table -->
    <b-table
      striped
      hover
      responsive
      :head-variant="'primary'"
      :fields="fields"
      :items="items"
    >
      <!-- A custom formatted header cell for field 'name' -->
      <template #head(selected)="">
          <input
            type="checkbox"
          >
      </template>

      <template #cell(selected)="row">
        <b-form-group>
          <input
            type="checkbox"
            v-model="row.item.selected"
          >
        </b-form-group>
      </template>
      <template #cell(actions)="row">
        <b-button
          pill
          variant='primary'
          size="sm"
          @click="info(row.item, row.index, $event.target)"
          class="mr-1"
        >
          <i class="ti-eye"></i>
        </b-button>
        <b-button
          pill
          variant='success'
          size="sm"
          @click="info(row.item, row.index, $event.target)"
          class="mr-1"
        >
          <i class="fa fa-plus-circle"></i>
        </b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import { isEqual } from 'lodash'
import {
  SUCCESS_DELETE,
  FAILED_DELETE,
  CONFIRM_DELETE
} from '@/utils/constant'
import { getChipColor } from '@/utils/formater'

export default {
  filters: {
    getChipColor
  },
  props: {
    title: {
      type: String,
      default: 'Kegiatan'
    },
    allow: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      selectedAll: false,
      fields: [
        { key: 'selected', label: '' },
        { key: 'noTrans', label: 'No Transaksi' },
        { key: 'noDoc', label: 'No Dokumen' },
        { key: 'namaKegiatan', label: 'Nama Kegiatan' },
        { key: 'namaSub', label: 'Nama Sub Kegiatan' },
        { key: 'desc', label: 'Deskripsi' },
        // { key: 'debit', label: 'Debit' },
        // { key: 'kredit', label: 'Kredit' },
      ],
      items: [
        {
          evidenceNumber: '01/TBP/DINKES/01/2018',
          journalType: 'LRA',
          type: 'A',
          code: '3.1.2.05.01.',
          desc: 'Estimasi Perubahan SAL',
          // debit: '350.000,00',
          // kredit: '0',
        },
      ],
      selectedEvent: {
        id: null,
        name: null
      },
      deleteModal: false
    }
  },
  computed: {
    confirmDeleteMsg() {
      return CONFIRM_DELETE + this.selectedEvent.id
    },
    records() {
      return this.$store.getters['revenueJournalTrx/getList']
    },
    pagination() {
      return this.$store.getters['revenueJournalTrx/getPagination']
    },
    loading() {
      return this.$store.getters['revenueJournalTrx/getLoading']
    },
    options: {
      set(value) {
        this.$store.commit('revenueJournalTrx/SET_TABLE_OPTIONS', value)
      },
      get() {
        return this.$store.getters['revenueJournalTrx/getTableOption']
      }
    },
    totalItems() {
      return this.$store.getters['revenueJournalTrx/getTotalData']
    },
    stat: {
      async set(value) {
        await this.$store.dispatch('revenueJournalTrx/resetOptions')
        this.options = {
          ...this.options,
          keyWords: this.searchKey,
          status: value
        }
      },
      get() {
        return this.$route.query.status
      }
    },
    searchKey: {
      async set(value) {
        await this.$store.dispatch('revenueJournalTrx/resetOptions')
        this.options = {
          ...this.options,
          status: this.stat,
          keyWords: value
        }
      },
      get() {
        return this.$route.query.keyWords
      }
    }
  },
  watch: {
    options(value, oldValue) {
      if (!isEqual(oldValue, value)) {
        this.$emit('optionChanged', value)
      }
    }
  },
  mounted() {
    const options = { ...this.options }
    if (this.$route.query.page) {
      options.page = parseInt(this.$route.query.page)
    }
    if (this.$route.query.perPage) {
      options.perPage = parseInt(this.$route.query.perPage)
    }
    if (this.$route.query.sortBy) {
      options.sortBy = [this.$route.query.sortBy]
    }
    if (this.$route.query.sortOrder) {
      options.sortDesc = [this.$route.query.sortOrder === 'desc']
    }
    if (this.$route.query.keyWords) {
      options.keyWords = this.$route.query.keyWords
    }
    if (this.$route.query.status) {
      options.status = this.$route.query.status
    }
    this.options = options
    this.$emit('optionChanged', options)
  },
  methods: {
    createNewMessage() {
      this.$emit('createNewMessage', 'tes')
    },
    detailMessage(id) {
      this.$emit('detailMessage', id)
    },
    formatTanggal(startTanggal, endTanggal) {
      const start = this.$dateFns.format(new Date(startTanggal), 'dd MMM yyyy')
      const end = this.$dateFns.format(new Date(endTanggal), 'dd MMM yyyy')
      const [startDate, startMonth, startYear] = start.split(' ')
      const [endDate, endMonth, endYear] = end.split(' ')
      if (start === end) {
        return start
      } else if (startMonth === endMonth && startYear === endYear) {
        return `${startDate} - ${endDate} ${startMonth} ${startYear}`
      } else if (startMonth !== endMonth && startYear === endYear) {
        return `${startDate} ${startMonth} - ${endDate} ${endMonth} ${startYear}`
      }
      return `${start} - ${end}`
    },
    selectToRemove(payload) {
      this.selectedEvent = payload
      this.deleteModal = true
    },
    async remove(id) {
      try {
        await this.$store.dispatch('revenueJournalTrx/delete', id)
        this.$toast.show({
          message: SUCCESS_DELETE,
          type: 'success'
        })
        await this.$store.dispatch('revenueJournalTrx/getList')
        this.deleteModal = false
      } catch (error) {
        this.$toast.show({
          message: error.message || FAILED_DELETE,
          type: 'error'
        })
      }
    }
  }
}
</script>
