<template>
    <div>
      <b-row>
        <b-col md="3" cols="6">
          Nomor Dokumen
        </b-col>
        <b-col md="8" cols="6">
          : {{ document_number }}
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3" cols="6">
          Tanggal Dokumen
        </b-col>
        <b-col md="8" cols="6">
          : {{ transaction_date }}
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3" cols="6">
          Jenis Bukti
        </b-col>
        <b-col md="8" cols="6">
          : {{ jenis_bukti.name }}
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3" cols="6">
          Deskripsi
        </b-col>
        <b-col md="8" cols="6">
          : {{ description }}
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3" cols="6">
          Nominal
        </b-col>
        <b-col md="8" cols="6">
          : {{ amount }}
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3" cols="6">
          Tipe
        </b-col>
        <b-col md="8" cols="6">
          : {{ journal_mode.name }}
        </b-col>
      </b-row>
    </div>
</template>

<script>
  import { formattedJournalModes } from '@/utils/formater'

  export default {
    props: {
      data: {
        type: Object,
        default: null
      }
    },

    methods: {
      formattedJournalModes,
    },

    data () {
      return {
        document_number: null,
        amount: null,
        description: null,
        document_manifest: {},
        document_reference_id: null,
        jenis_bukti: {},
        jenis_bukti_id: null,
        journal_mode: {},
        journal_mode_id: null,
        transaction_date: null,
        transaction_type: {},
        transaction_type_id: null,
        created_at: null,
        updated_at: null,
      }
    },

    watch: {
      data (val) {
        this.document_number = val ? val.document_number : null
        this.amount = val ? val.amount : null
        this.description = val ? val.description : null
        this.document_manifest = val ? val.document_manifest : {}
        this.document_reference_id = val ? val.document_reference_id : null
        this.jenis_bukti = val ? val.jenis_bukti : {}
        this.jenis_bukti_id = val ? val.jenis_bukti_id : null
        this.journal_mode = val ? val.journal_mode : {}
        this.journal_mode_id = val ? val.journal_mode_id : null
        this.transaction_date = val ? val.transaction_date : null
        this.transaction_type = val ? val.transaction_type : {}
        this.transaction_type_id = val ? val.transaction_type_id : null
        this.created_at = val ? val.created_at : null
        this.updated_at = val ? val.updated_at : null
      }
    },
  }
</script>

