<template>
  <b-modal
    id="modal-view-Journal-verifikasi"
    ref="modal"
    title="Verifikasi Data Journal"
    size="xl"
  >
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">No Transaksi :</div>
        <div class="col-md-9">{{ item.nomorTbp }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">No Dokumen :</div>
        <div class="col-md-9">{{ item.tanggalTbp | formatDate }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Nama Kegiatan :</div>
        <div class="col-md-9">{{ item.kodeRekening }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Kode :</div>
        <div class="col-md-9">{{ item.namaRekening }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Deskripsi :</div>
        <div class="col-md-9">Rp {{ item.nilaiDetailTbp | formatMoney }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Keterangan :</div>
        <div class="col-md-9">{{ item.keteranganPembayaran }}</div>
      </div>
    </div>
    <!-- <div class="form-group" v-if="item.skpd">
      <div class="row">
        <div class="col-md-3 text-right">SKPD :</div>
        <div class="col-md-9">{{ item.skpd.nama_skpd }}</div>
      </div>
    </div> -->
    <!-- <div class="form-group" v-if="item.unit">
      <div class="row">
        <div class="col-md-3 text-right">Unit :</div>
        <div class="col-md-9">{{ item.unit.nama_skpd }}</div>
      </div>
    </div> -->

    <template #modal-footer>
      <b-button variant="danger" @click="promptTolak" v-if="isEditable"> Tolak </b-button>
      <b-button variant="info" @click="promptTerima" v-if="isEditable"> Terima </b-button>
      <b-button @click="$bvModal.hide('modal-view-Journal-verifikasi')">
        Tutup
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import axios from "axios";
import swal from "sweetalert2";

export default {
  data() {
    return {
      item: {},
      isEditable: false
    };
  },
  methods: {
    verifikasiJournal(item, isEditable) {
      this.item = item;
      this.isEditable = isEditable;
      this.$bvModal.show("modal-view-Journal-verifikasi");
    },
    editedJournal(item) {
      this.item = item;
    },
    promptTolak() {
      swal
        .fire({
          title: "Apakah Anda yakin?",
          text: "Verifikasi untuk Data Journal ini dinyatakan Ditolak",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya",
          cancelButtonText: "Batal",
        })
        .then(async (result) => {
          if (result.value) {
            try {
              let resp = await axios.post(
                "/penerimaan/tbp/verifikasitolak/" + this.item.idTbp
              );
              if (resp.data.success) {
                swal.fire("Data ditolak", resp.data.message, "success");
                this.$bvModal.hide("modal-view-Journal-verifikasi");
                this.$nuxt.$emit("hapus-Journal", this.item);
              } else {
                swal.fire("Data gagal diverifikasi!", resp.data.message, "error");
              }
            } catch (e) {
              swal.fire("Data gagal diverifikasi!", "Mohon hubungi Admin.", "error");
            }
          }
        });
    },
    promptTerima() {
      swal
        .fire({
          title: "Apakah Anda yakin?",
          text: "Verifikasi untuk Data Journal ini dinyatakan Diterima",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya",
          cancelButtonText: "Batal",
        })
        .then(async (result) => {
          if (result.value) {
            try {
              let resp = await axios.post(
                "/penerimaan/tbp/verifikasiterima/" + this.item.idTbp
              );
              if (resp.data.success) {
                swal.fire("Verifikasi diterima", resp.data.message, "success");
                this.$bvModal.hide("modal-view-Journal-verifikasi");
                this.$nuxt.$emit("hapus-Journal", this.item);
              } else {
                swal.fire("Data gagal diverifikasi!", resp.data.message, "error");
              }
            } catch (e) {
              swal.fire("Data gagal diverifikasi!", "Mohon hubungi Admin.", "error");
            }
          }
        });
    },
  },
  beforeDestroy() {
    this.$nuxt.$off("view-Journal-verifikasi", this.verifikasiJournal);
  },
  mounted() {
    this.$nuxt.$on("view-Journal-verifikasi", this.verifikasiJournal);
  },
};
</script>

<style>
</style>