<template>
  <b-modal
    id="modal-add-Journal"
    ref="modal"
    title="Lihat Data Journal"
    size="xl"
  >
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">No Transaksi :</div>
        <div class="col-md-9">{{ item.Transaksi }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">No Dokumen :</div>
        <div class="col-md-9">{{ item.noDocs | formatDate }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Nama Kegiatan :</div>
        <div class="col-md-9">{{ item.namaKegiatan }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Nama Sub Kegiatan :</div>
        <div class="col-md-9">{{ item.namaSub }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Nominal :</div>
        <div class="col-md-9">Rp {{ item.nominal | formatMoney }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 text-right">Keterangan :</div>
        <div class="col-md-9">{{ item.keterangan }}</div>
      </div>
    </div>
    <!-- <div class="form-group" v-if="item.skp">
      <div class="row">
        <div class="col-md-3 text-right">Nomor SKPD :</div>
        <div class="col-md-9">{{ item.skp.nomorSkp }}</div>
      </div>
    </div> -->
    <!-- <div class="form-group" v-if="item.skrd">
      <div class="row">
        <div class="col-md-3 text-right">Nomor SKRD :</div>
        <div class="col-md-9">{{ item.skrd.nomorSkrd }}</div>
      </div>
    </div> -->
    <!-- <div class="form-group" v-if="item.skpd">
      <div class="row">
        <div class="col-md-3 text-right">SKPD :</div>
        <div class="col-md-9">{{ item.skpd.nama_skpd }}</div>
      </div>
    </div> -->
    <!-- <div class="form-group" v-if="item.unit">
      <div class="row">
        <div class="col-md-3 text-right">Unit :</div>
        <div class="col-md-9">{{ item.unit.nama_skpd }}</div>
      </div>
    </div> -->
    <div class="form-group" v-if="item.files">
      <div class="row">
        <div class="col-md-3 text-right">Berkas :</div>
        <div class="col-md-9">
          <div v-if="item.files.length == 0">-</div>
          <MultiFile v-else :files="item.files" :hasDelete="false" />
        </div>
      </div>
    </div>

    <template #modal-footer>
      <b-button variant="danger" @click="promptDelete"> Hapus </b-button>
      <b-button variant="info" @click="openEdit"> Edit </b-button>
      <b-button @click="$bvModal.hide('modal-add-Journal')">
        Tutup
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import axios from "axios";
import swal from "sweetalert2";
import MultiFile from '~/components/MultiFile'

export default {
  components: {
      addJournal,
    MultiFile,
  },
  data() {
    return {
      item: {},
    };
  },
  methods: {
    addJournal(item) {
      this.item = item;
      this.$bvModal.show("modal-add-Journal");
    },
    editeJournal(item) {
      this.item = item;
    },
    promptDelete() {
      swal
        .fire({
          title: "Apakah Anda yakin?",
          text: "Data yang sudah dihapus tidak dapat dikembalikan!",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, hapus saja!",
          cancelButtonText: "Batal",
        })
        .then(async (result) => {
          if (result.value) {
            try {
              let resp = await axios.delete(
                "/penerimaan/tbp/" + this.item.idTbp
              );
              if (resp.data.success) {
                swal.fire("Data dihapus!", resp.data.message, "success");
                this.$bvModal.hide("modal-add-Journal");
                this.$nuxt.$emit("hapus-Journal", this.item);
              } else {
                swal.fire("Data gagal dihapus!", resp.data.message, "error");
              }
            } catch (e) {
              swal.fire("Data gagal dihapus!", "Mohon hubungi Admin.", "error");
            }
          }
        });
    },
    openEdit() {
      this.$nuxt.$emit("edit-Journal", this.item);
    },
  },
  beforeDestroy() {
    this.$nuxt.$off("add-Journal", this.Journal);
    this.$nuxt.$off('edited-Journal',this.editedJournal);
  },
  mounted() {
    this.$nuxt.$on("add-Journal", this.addJournal);
    this.$nuxt.$on('edited-Journal',this.editedJournal);
  },
};
</script>

<style>
</style>