/**
* START
TODO: move to its own utility scss file 
*/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/**
TODO: move to its own utility scss file 
END
*/

:root,
html {
  font-size: 16px;
}

.laporan {
  font-size: 1rem;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  color: black;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__table-info > tbody > tr > td {
    font-weight: bold;
    padding: 0;
    margin: 0;

    &:first-child {
      width: 1%;
    }
    &:nth-child(2) {
      width: 1%;
      padding: 0 0.5em 0 1.5em;
      vertical-align: top;
    }
    &:nth-child(3) {
      width: auto;
    }
  }

  &__table-main {
    width: 100%;
    vertical-align: top;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;

    & > thead > tr > th,
    & > tbody > tr > td {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      padding: 0.5em 1em;
    }

    & > thead > tr > th {
      background-color: #ccc;
    }
  }
}
