<template>
  <div>
    <TableJurnalManual 
      :items="items" 
      :count="count" 
      :paginate="paginate" 
      :current="current" 
      :loading="loading" 
      @changepage="changepage" 
      :showSkpd="searchparams ? searchparams.idSkpd == 'all' : false"
      :showUnit="searchparams ? searchparams.idSkpdUnit == 'all' : false"
      :total="total"
      v-show="count > 0" />
    <div v-show="!count">
      Data tidak ditemukan
    </div>
  </div>
</template>

<script>
import TableJurnalManual from "~/components/jurnalManual/TableJurnalManual";
import axios from 'axios'
import { parseParams, stringifyParams } from "@/utils";

export default {
  middleware: "auth",

  components: {
    TableJurnalManual
  },
  watchQuery: ["params"],
  async asyncData({params}) {
    let searchparams = parseParams(params.params);
    let paginate = 50;
    let f3 = axios.get(`/jurnal/jurnalmanual`, {
      params: {
        searchparams: {
          ...searchparams,
        },
        perpage: paginate,
      }
    })
    let f3resp = (await f3).data
    let items = f3resp.data
    let count = f3resp.count
    let total = f3resp.total
    let current = searchparams.page ? parseInt(searchparams.page) : 1;
    let sort = searchparams.sort ? searchparams.sort : {};
    return {
      searchparams,
      current,
      sort,
      items,
      count,
      total,
      paginate,
      paginates: Math.ceil(count / paginate),
    }
  },
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    changeLoadingState(loading) {
      this.loading = loading
    },
    listenNewItem(item) {
      this.items.unshift(item)
      this.count++
      this.total += parseFloat(item.debet)
    },
    listenDeletedItem(item) {
      let idx = this.items.findIndex(ix => ix.id == item.id)
      if (idx !== -1) {
        this.$delete(this.items, idx)
        this.count--
        this.total -= parseFloat(item.debet)
      }
    },
    listenEditedItem(item) {
      let idx = this.items.findIndex(ix => ix.id == item.id)
      if (idx !== -1) {
        this.total -= parseFloat(this.items[idx].debet)
        this.$delete(this.items, idx)
        this.items.unshift(item)
        this.total += parseFloat(item.debet)
      }
    },
    changepage(page) {
      let searchparams = JSON.parse(JSON.stringify(this.searchparams));
      searchparams.page = page;
      this.loading = true
      this.$nextTick(() => {
        try {
          this.$router.replace({
            name: this.$route.name,
            params: {
              kodering: this.$route.params.kodering,
              params: stringifyParams(searchparams),
            },
          });
        } catch (e) {
          
        }
      })
    }
  },
  beforeDestroy() {
    this.$nuxt.$off('loading',this.changeLoadingState);
    this.$nuxt.$off('add-jurnalmanual',this.listenNewItem);
    this.$nuxt.$off('hapus-jurnalmanual',this.listenDeletedItem);
    this.$nuxt.$off('edited-jurnalmanual',this.listenEditedItem);
  },
  mounted() {
    this.$nuxt.$on('loading',this.changeLoadingState);
    this.$nuxt.$on('add-jurnalmanual',this.listenNewItem);
    this.$nuxt.$on('hapus-jurnalmanual',this.listenDeletedItem);
    this.$nuxt.$on('edited-jurnalmanual',this.listenEditedItem);
  },
};
</script>
