<template>
  <div>
    <div class="bgc-white p-20 bd mb-3">
      <div class="row" style="margin: 0 -5px">
        <div class="col-md-3" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">SKPD</h6>
            <v-select :options="options.skpd"
              :reduce="item => item.id_skpd" label="nama_skpd" 
              placeholder="Pilih SKPD"
              :disabled="[1, 3, 10, 13].indexOf(user.pegawai.idJabatan) == -1 && (user.skpd && !user.skpd.is_skpd)"
              v-model="searchparams.idSkpd"
            />
          </div>
        </div>
        <div class="col-md-3" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Unit</h6>
            <v-select :options="options.skpd_unit"
              :reduce="item => item.id_skpd" label="nama_skpd" 
              placeholder="Pilih Unit"
              v-model="searchparams.idSkpdUnit"
              :disabled="user.unit || skpd_unit_disabled"
            />
          </div>
        </div>
        <div class="col-md-3" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Tanggal Awal</h6>
            <b-form-datepicker 
              locale="id-ID"
              today-button
              reset-button
              close-button 
              :start-weekday="1" 
              v-model="searchparams.tanggalFrom" 
              class="mb-2" />
          </div>
        </div>
        <div class="col-md-3" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Tanggal Akhir</h6>
            <b-form-datepicker 
              locale="id-ID"
              today-button
              reset-button
              close-button 
              :start-weekday="1" 
              v-model="searchparams.tanggalTo" 
              class="mb-2" />
          </div>
        </div>
        <div class="col-md-6" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Cari Nomor Bukti / Keterangan</h6>
            <div class="input-group">
              <input type="text" class="form-control" v-model="searchparams.search" />
              <span class="input-group-addon"
                ><i class="fa fa-search"></i
              ></span>
            </div>
          </div>
        </div>
        <!--<div class="col-md-6" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Filter Kode Rekening</h6>
            <v-select :options="options.rekening"
              :reduce="item => item.kodeRekening" label="namaRekening"
              :placeholder="'Semua rekening '"
              v-model="searchparams.kodeRekening"
            >
              <template slot="selected-option" slot-scope="item">
                {{ item.kodeRekening }}
                {{ item.namaRekening }}
              </template>
              <template slot="option" slot-scope="item">
                {{ item.kodeRekening }}
                {{ item.namaRekening }}
              </template>
            </v-select>
          </div>
        </div>-->
        <div class="col-md-6" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Urutkan</h6>
            <v-select :options="options.sorts"
              :reduce="item => item.col_id" label="col_name" 
              placeholder="Urutkan Berdasarkan"
              v-model="searchparams.sort"
              multiple
            />
          </div>
        </div>
        <div class="col-md-6" style="padding: 0 5px">
          <button class="btn btn-primary w-100" style="max-width: 150px" @click="doFilter">
            <i class="fa fa-search"></i>
            Terapkan
          </button>
          <download-export-button url="/penerimaan/tbp/export" :searchparams="searchparamsdata" :defaultFileName="'Penerimaan '" />
        </div>
        <div class="col-md-6" style="padding: 0 5px">
          <b-button  @click="openAdd"  variant="info">
            <i class="fa fa-plus"></i>
            Input Data
          </b-button>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="c-grey-900">Jurnal Manual</h5>
        <transition name="fade" mode="out-in">
          <router-view />
        </transition> 
      </div>
    </div>
    <AddJurnalManual :searchparams="searchparams" :options="options" :konfigurasi="konfigurasi" />
    <EditJurnalManual :searchparams="searchparams" :options="options" />
    <ViewJurnalManual />
  </div>
</template>

<script>
import axios from 'axios'
import { parseParams, stringifyParams } from "@/utils";
import AddJurnalManual from "~/components/jurnalManual/AddJurnalManual";
import EditJurnalManual from "~/components/jurnalManual/EditJurnalManual";
import ViewJurnalManual from "~/components/jurnalManual/ViewJurnalManual";
import swal from "sweetalert2";
import { mapGetters } from 'vuex'

export default {
  middleware: "auth",

  components: {
    AddJurnalManual,
    EditJurnalManual,
    ViewJurnalManual,
  },
  async asyncData({params}) {
    let searchparams = parseParams(params.params);
    
    let f3 = axios.get(`/common/skpd/index`, {
      params: {
        params: {
          is_pendapatan: 1,
        }
      }
    })
    let f4
    let f4resp
    if (searchparams.idSkpd && searchparams.idSkpd != 'all') {
      f4 = axios.get(`/common/unit-skpd/index`, {
        params: {
          params: {
            // is_pendapatan: 1,
            id_unit: searchparams.idSkpd
          }
        }
      })
      f4resp = (await f4).data
    }
    
    let f3resp = (await f3).data
    
    let options = {
      skpd: f3resp.data,
      skpd_unit: [],
      sorts: [
        {col_id: 'tanggal@desc', col_name: 'Tanggal terbaru'},
        {col_id: 'tanggal@asc', col_name: 'Tanggal terlama'},
        {col_id: 'namaRekening@desc', col_name: 'Nama rekening (z-a)'},
        {col_id: 'namaRekening@asc', col_name: 'Nama rekening (a-z)'},
        {col_id: 'kodeRekening@desc', col_name: 'Kode rekening (9-0)'},
        {col_id: 'kodeRekening@asc', col_name: 'Kode rekening (0-9)'},
      ],
    }
    options.skpd.unshift({
      id_skpd: "all",
      nama_skpd: "Semua SKPD"
    })
    let skpd_unit_disabled = true
    if (searchparams.idSkpd && searchparams.idSkpd != 'all') {
      options.skpd_unit = f4resp.data
      if (f4resp.data.length) {
        options.skpd_unit.unshift({
          id_skpd: "all",
          nama_skpd: "Semua Unit"
        })
        skpd_unit_disabled = false
      } else {
        skpd_unit_disabled = true
      }
    }
    return {
      searchparams,
      options,
      skpd_unit_disabled,
    }
  },
  data() {
    return {
      konfigurasi: []
    };
  },
  computed: {
    ...mapGetters({
      user: 'auth/user'
    }),
    searchparamsdata() {
      return {
        kodeRekeningBeginsWith: this.$route.params.kodering,
        ...this.searchparams,
      }
    }
  },
  mounted() {
    //this.getKonfigurasi()
  },
  methods: {
    openAdd() {
      if (this.searchparams.idSkpd==null || this.searchparams.idSkpd==""){
        swal.fire("Tambah data", "SKPD harus dipilih terlebih dahulu", "warning");
      }else{
        this.$bvModal.show('modal-add-jurnalmanual');
      }
    },
    doFilter() {
      let searchparams = JSON.parse(JSON.stringify(this.searchparams));
      searchparams.page = 1;
      this.$nuxt.$emit('loading', true)
      try {
        this.$router.replace({
          name: this.$route.name,
          params: {
            kodering: this.$route.params.kodering,
            params: stringifyParams(searchparams),
          },
        });
      } catch (e) {

      }
    },
    async reloadUnit() {
      if (!this.searchparams.idSkpd || this.searchparams.idSkpd == 'all') {
        this.skpd_unit_disabled = true
        this.options.skpd_unit = []
        return
      }
      this.skpd_unit_disabled = true
      let f4 = axios.get(`/common/unit-skpd/index`, {
        params: {
          params: {
            // is_pendapatan: 1,
            id_unit: this.searchparams.idSkpd
          }
        }
      })
      let f4resp = (await f4).data
      this.options.skpd_unit = f4resp.data
      if (f4resp.data.length) {
        this.options.skpd_unit.unshift({
          id_skpd: "all",
          nama_skpd: "Semua Unit"
        })
        this.skpd_unit_disabled = false
      } else {
        this.skpd_unit_disabled = true
      }
    },
    async getKonfigurasi() {
      if (!this.searchparams.idSkpd || this.searchparams.idSkpd == 'all') {
        return this.konfigurasi = []
      }

      const getKonfigurasi = axios.get('/konfigurasi', {
        params: {
          idSkpd: this.searchparams.idSkpd,
          idDaerah: this.searchparams.idSkpdUnit || null,
        }
      })

      this.konfigurasi = (await getKonfigurasi).data.kodeRekenings || []
    },
  },
  watch: {
    'searchparams.idSkpd'() {
      this.reloadUnit()
      //this.getKonfigurasi()
    },
    'searchparams.idSkpdUnit'() {
      //this.getKonfigurasi()
    }
  }
};
</script>
