<template>
  <b-breadcrumb :items="getItems"></b-breadcrumb>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: {
      ...mapGetters('breadcrumbs', ['getItems'])
    }
}
</script>
