<template>
  <button class="btn btn-primary" @click="download" :disabled="isLoading">
    <template v-if="isLoading">
      <i class="fa fa-spinner fa-spin fa-fixed-width" /> Download
    </template>
    <template v-else>
      <i class="fa fa-download fa-fixed-width" /> Download
    </template>
  </button>
</template>

<script>
import axios from 'axios'

export default {
  name: 'DownloadExportButton',
  props: {searchparams: Object, url: String, defaultFileName: {type: String, default: 'file'}},
  data() {
    return {
      isLoading: false,
    }
  },
  methods: {
    async download() {
      this.isLoading = true

      let response = await axios.get(this.url, {
        params: {
          searchparams: {
            ...this.searchparams,
            page: 1,
            perpage: 9999999,
          }
        },
        responseType: 'blob',
      })
      const blob = new Blob([response.data], {type: response.data.type});
      const url = window.URL.createObjectURL(blob);
      const link = document.createElement('a');
      link.href = url;
      const contentDisposition = response.headers['content-disposition'];
      let fileName = this.defaultFileName;
      if (contentDisposition) {
        const fileNameMatch = contentDisposition.match(/filename=(.+)/);
        console.log(fileNameMatch, contentDisposition, response.headers)
          if (fileNameMatch.length === 2) {
            fileName = fileNameMatch[1].replaceAll('"','');
          } else {
            fileName = fileNameMatch.replaceAll('"','');
          }
      }
      link.setAttribute('download', fileName);
      document.body.appendChild(link);
      link.click();
      link.remove();
      window.URL.revokeObjectURL(url);
      this.isLoading = false
    }
  },
}
</script>
