<template>
  <b-dropdown text="Primary" variant="primary" :disabled="isLoading">
      <template #button-content v-if="isLoading" style="color:white;" >
        <i class="fa fa-spinner fa-spin fa-fixed-width" /> Cetak
      </template>
      <template #button-content v-else style="color:white;" >
        <i class="fa fa-download fa-fixed-width" /> Cetak
      </template>
      <b-dropdown-item v-if="supportFormat.indexOf('xls;')>=0" @click="download('xls')" href="#">EXCEL</b-dropdown-item>
      <b-dropdown-item v-if="supportFormat.indexOf('pdf;')>=0" @click="download('pdf')" href="#">PDF</b-dropdown-item>
  </b-dropdown>
</template>

<script>
import axios from 'axios'

export default {
  name: 'MultiDownloadExportButton',
  props: {searchparams: Object, url: String, supportFormat: String, defaultFileName: {type: String, default: 'file'}},
  data() {
    return {
      isLoading: false,
    }
  },
  methods: {
    async download(formatFile) {
      this.isLoading = true

      let response = await axios.get(this.url, {
        params: {
          searchparams: {
            ...this.searchparams,
            page: 1,
            perpage: 9999999,
            formatFile: formatFile
          }
        },
        responseType: 'blob',
      }) 
      const blob = new Blob([response.data], {type: response.data.type});
      const url = window.URL.createObjectURL(blob);
      const link = document.createElement('a');
      link.href = url;
      const contentDisposition = response.headers['content-disposition'];
      let fileName = this.defaultFileName;
      if (contentDisposition) {
        const fileNameMatch = contentDisposition.match(/filename=(.+)/);
        console.log(fileNameMatch, contentDisposition, response.headers)
          if (fileNameMatch.length === 2) {
            fileName = fileNameMatch[1].replaceAll('"','');
          } else {
            fileName = fileNameMatch.replaceAll('"','');
          }
      }
      link.setAttribute('download', fileName);
      document.body.appendChild(link);
      link.click();
      link.remove();
      window.URL.revokeObjectURL(url);
      this.isLoading = false
    }
  },
}
</script>
