<template>
  <div>
    <b-form-file
      placeholder="Upload file"
      @change="doUpload($event)"
      :disabled="isUploading"
      ref="file-input"
      v-bind="$attrs"
      :accept="accept"
    ></b-form-file>
    <div class="mt-1" v-if="isUploading">Sedang mengunggah berkas...</div>
    <div class="mt-1 text-danger" v-if="error && !isUploading">{{ error }}</div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  inheritAttrs: false,
  props: {
    url: {
      type: String,
      required: true
    },
    acceptExtensions: {
      type: Array,
      default() {
        return ['.pdf', '.ppt', '.pptx', '.doc', '.docx', '.xls', '.xlsx', '.txt']
      },
    },
  },
  computed: {
    accept() {
      return this.acceptExtensions.join(', ')
    }
  },
  data() {
    return {
      files: null,
      isUploading: false,
      error: null,
    }
  },
  methods: {
    doUpload(e) {
      this.isUploading = true
      this.error = null

      if (e.target.files.length == 0) {
        return this.error = 'Gagal memuat berkas'
      }

      const formData = new FormData()
      formData.append('file', e.target.files[0])

      axios.post(this.url, formData, {
          headers: {
              'Content-Type': 'multipart/form-data'
          }
        })
        .then(({data}) => {
          if (!data.success) {
            this.error = data.message
          }

          this.$emit('response', data)
          this.$refs['file-input'].reset()
        })
        .catch((err) => {
          this.$refs['file-input'].reset()
          if (err.response && err.response.data) {
            this.error = err.response.data.message
          } else {
            this.error = 'Gagal mengunggah berkas'
          }
        })
        .then(() => {
          this.isUploading = false
        })
    }
  },
  watch: {
    'isUploading'(val) {
      this.$emit('isUploading', val)
    },
  },
};
</script>