<template>
  <ul class="mt-2">
    <li v-for="(file, i) of files" :key="file" class="mt-1">
      <div class="d-flex justify-content-between">
        <a :href="file" target="_blank">{{ getFileName(file) }}</a>
        <button type="button" class="btn btn-sm btn-danger mr-4" @click="$emit('removeFile', i)" v-if="hasDelete">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </li>
  </ul>
</template>

<script>

export default {
  props: {
    files: {
      type: Array,
      default: [],
    },
    hasDelete: {
      type: Boolean,
      default: true,
    }
  },
  methods: {
    getFileName(url) {
      return url.substring(url.lastIndexOf('/')+1);
    }
  }
};
</script>