<template>
  <div class="sidebar">
    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="sidebar-link td-n" href="#">
              <div class="peers ai-c fxw-nw">
                <div class="peer">
                  <div
                    class="logo text-center align-items-center justify-content-center"
                    style="display: flex"
                  >
                    <img
                      src="~/assets/images/logo-homepage2.png"
                      alt=""
                      style="height: 40px"
                    />
                  </div>
                </div>
                <div class="peer peer-greed">
                  <h5 class="lh-1 mB-0 logo-text">
                    <img
                      src="~/assets/images/logo-text.png"
                      alt=""
                      style="height: 50px"
                    />
                  </h5>
                  <!-- <img src="~/assets/images/logo-text.png" alt="" style="height:50px"> -->
                </div>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a href="" class="td-n c-white">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### Sidebar Menu ### -->
      <ul class="sidebar-menu scrollable pos-r pt-3">
        <li
          v-for="item in menuItems"
          :key="item.title"
          class="nav-item dropdown actived"
        >
          <a class="dropdown-toggle" href="javascript:void(0);">
            <span class="icon-holder">
              <i class="c-grey-800" :class="item.icon"></i>
            </span>
            <nuxt-link v-if="!item.childs" class="sidebar-link" :to="item.to">
              {{ item.title }}
            </nuxt-link>
            <span v-if="item.childs" class="font-weight-bold title">
              {{ item.title }}
            </span>
            <span v-if="item.childs" class="arrow">
              <i class="ti-angle-right"></i>
            </span>
          </a>
          <ul v-if="item.childs" class="dropdown-menu">
            <li v-for="subItem in item.childs" :key="subItem.title">
              <nuxt-link class="sidebar-link" :to="subItem.to">
                <i class="c-grey-800 pr-1" :class="subItem.icon"></i>
                {{ subItem.title }}
              </nuxt-link>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import mapGetters from "vuex";

export default {
  computed: {
    // ...mapGetters('auth', ['user', 'permissions']),
  },

  data() {
    return {
      menuItems: [
        {
          icon: "ti-home",
          title: "Dashboard",
          to: "/home",
          permission: "acces-backoffice",
        },
        {
          icon: "ti-file",
          title: "Input Transaksi Non Anggaran",
          to: "/kebijakan-akuntansi",
          permission: "acces-backoffice",
        },
        {
          icon: "ti-zip",
          title: "Jurnal Umum",
          to: "/jurnalUmum",
          permission: "acces-backoffice",
        },
        {
          icon: "ti-files",
          title: "Jurnal to Approve",
          to: "/home",
          permission: "acces-backoffice",
        },
        {
          icon: "ti-book",
          title: "Buku Jurnal",
          to: "/home",
          permission: "acces-backoffice",
        },
        {
          icon: "ti-agenda",
          title: "Buku Besar",
          to: "/home",
          permission: "acces-backoffice",
        },
        {
          icon: "ti-briefcase",
          title: "Neraca Saldo",
          to: "/home",
          permission: "acces-backoffice",
        },
        {
          icon: "ti-bar-chart",
          title: "Laporan Keuangan",
          to: "/home",
          permission: "acces-backoffice",
        },
        {
          icon: "ti-settings",
          title: "Setting",
          to: "/home",
          permission: "acces-backoffice",
          childs: [
            {
              icon: "ti-receipt",
              title: "Otomatisasi Jurnal",
              to: "/kebijakan-akuntansi",
              permission: "access-backoffice",
            },
            {
              icon: "ti-receipt",
              title: "Asset",
              to: "/asset",
              permission: "access-backoffice",
            },
            {
              icon: "ti-receipt",
              title: "Kewajiban",
              to: "/kewajiban",
              permission: "access-backoffice",
            },
          ],
        },

        // {
        //   icon: "ti-home",
        //   title: "Kebijakan Akuntansi",
        //   to: "/kebijakan-akuntansi",
        //   permission: "acces-backoffice",
        //   childs: [
        //     {
        //       icon: "ti-zip",
        //       title: "Otomatisasi Jurnal",
        //       to: "/kebijakan-akuntansi",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Asset",
        //       to: "/asset",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Kewajiban",
        //       to: "/kewajiban",
        //       permission: "access-backoffice",
        //     },
        //   ],
        // },
        // {
        //   icon: "ti-home",
        //   title: "Persediaan",
        //   to: "/home",
        //   permission: "list-applicants",
        // },
        // {
        //   icon: "ti-home",
        //   title: "Jurnal LRA",
        //   to: "/home",
        //   permission: "list-applicants",
        //   childs: [
        //     {
        //       icon: "ti-zip",
        //       title: "Pendapatan",
        //       to: "/jurnallra",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Belanja",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Pembiayaan",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //   ],
        // },
        // {
        //   icon: "ti-home",
        //   title: "Jurnal LO",
        //   to: "/home",
        //   permission: "list-applicants",
        //   childs: [
        //     {
        //       icon: "ti-zip",
        //       title: "Pendapatan",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Beban",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Jurnal Manual",
        //       to: "/jurnalmanual",
        //       permission: "access-backoffice",
        //     },
        //   ],
        // },
        // {
        //   icon: "ti-home",
        //   title: "Jurnal Revisi",
        //   to: "/home",
        //   permission: "list-applicants",
        //   childs: [
        //     {
        //       icon: "ti-zip",
        //       title: "Reklasifikasi",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Jurnal Koreksi",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //   ],
        // },
        // {
        //   icon: "ti-home",
        //   title: "Jurnal Penutup (akhir tahun)",
        //   to: "/home",
        //   permission: "list-applicants",
        // },
        // {
        //   icon: "ti-home",
        //   title: "Jurnal Konsolidasi",
        //   to: "/home",
        //   permission: "list-applicants",
        // },
        // {
        //   icon: "ti-home",
        //   title: "Buku Besar",
        //   to: "/home",
        //   permission: "list-applicants",
        //   childs: [
        //     {
        //       icon: "ti-zip",
        //       title: "Buku Besar Pembantu",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Buku Besar Bank",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //   ],
        // },
        // {
        //   icon: "ti-home",
        //   title: "Buku Jurnal",
        //   to: "/home",
        //   permission: "list-applicants",
        //   childs: [
        //     {
        //       icon: "ti-zip",
        //       title: "Buku Jurnal",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Kertas Kerja",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //   ],
        // },
        // {
        //   icon: "ti-home",
        //   title: "Laporan Keuangan",
        //   to: "/home",
        //   permission: "list-applicants",
        //   childs: [
        //     {
        //       icon: "ti-zip",
        //       title: "Neraca Saldo",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Laporan Realisasi Anggaran SKPD",
        //       to: "/laporanrealisasianggaran",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Laporan Operasional SKPD",
        //       to: "/laporanoperasional",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Laporan Neraca SKPD",
        //       to: "/laporanneraca",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "CALK",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //     {
        //       icon: "ti-zip",
        //       title: "Laporan Perubahan Ekuitas",
        //       to: "/home",
        //       permission: "access-backoffice",
        //     },
        //   ],
        // },
      ],
    };
  },
};
</script>
