<template>
  <b-modal
    id="AssetForm"
    ref="modal"
   
    size="lg"
    @show="resetModal"
    @hidden="resetModal"
    @ok="handleOk"
    @cancel="hide"
    ok-title="Simpan"
    cancel-title="Batal"
    :ok-disabled="loading"
  >
    <form ref="form" @submit.stop.prevent="handleSubmit">
      <div class="row mx-1">
      <div class="col" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Nama dan Kode Rekening Asset</h6>
            <v-select :options="options.skpd_unit"
              :reduce="item => item.id_skpd" label="nama_skpd" 
              placeholder="Pilih Jenis "
              v-model="searchparams.idSkpdUnit"            
            />
          </div>
          </div> 
      <div class="col" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Tanggal </h6>
            <b-form-datepicker 
              locale="id-ID"
              today-button
              reset-button
              close-button 
              :start-weekday="1" 
              v-model="searchparams.tanggalFrom" 
              class="mb-2" />
          </div>
        </div>     
 </div>

      <div class="row mx-1">
                  <div class="col" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Umur Ekonomis</h6>
            <v-select :options="options.skpd_unit"
              :reduce="item => item.id_skpd" label="nama_skpd" 
              placeholder="Pilih Metode Penyusutan"
              v-model="searchparams.idSkpdUnit"            
            />
          </div>
          </div> 

        <div class="col" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Tanggal </h6>
            <b-form-datepicker 
              locale="id-ID"
              today-button
              reset-button
              close-button 
              :start-weekday="1" 
              v-model="searchparams.tanggalFrom" 
              class="mb-2" />
          </div>
        </div>     
      </div> 
      
    </form>
  </b-modal>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'
import { find } from 'lodash'
import MultiFileUpload from '~/components/MultiFileUpload'
import MultiFile from '~/components/MultiFile'

export default {
  components: {
    MultiFile,
    MultiFileUpload
  },
  props: {
    searchparams: {
      type: Object,
      default: {}
    },
    options: {
      type: Object,
      default: {}
    },
    konfigurasiMetodeInput: {
      type: Object,
      default: {}
    },
    konfigurasi: {
      type: Array,
      default: []
    }
  },
 
  computed: {
    // optionMetodeInput() {
    //   let res = [
    //     {value: 'harian', text: 'Harian'},
    //     {value: 'mingguan', text: 'Mingguan'},
    //     {value: 'bulanan', text: 'Bulanan'},
    //   ]
    //   if (this.form.kodeRekening && this.form.kodeRekening.indexOf('4.1.01') > -1) {
    //     res.push({value: 'per_wp', text: 'Per Wajib Pajak'})
    //   }
    //   if (this.form.kodeRekening && this.form.kodeRekening.indexOf('4.1.02') > -1) {
    //     res.push({value: 'per_wr', text: 'Per Wajib Retribusi'})
    //   }
    //   return res
    // },
    // enabledRekening() {
    //   if (this.konfigurasi.length == 0) {
    //     return this.options.rekening
    //   }
    //   return this.options.rekening.filter((rek) => {
    //     return this.konfigurasi.indexOf(rek.kodeRekening) > -1
    //   })
    // },
    // tanggalTbpMin: function () {
    //   const date = new Date(this.form.tanggalTbp)

    //   return new Date(date.setDate(date.getDate() + 1))
    // },
    // tanggalTbpMax: function () {
    //   const date = new Date(this.form.tanggalTbp)

    //   return new Date(date.getFullYear(), date.getMonth() + 1, 0);
    // }
  },
  methods: {
    // isStateValid(name) {
    //   return !this.validateState[name] ? null : this.validateState[name].length == 0
    // },
    // getFeedback(name) {
    //   return this.validateState[name] ? this.validateState[name][0] : ''
    // },
    // getNamaSkpd(arr, s) {
    //   const obj = find(arr, {id_skpd: s})
    //   return obj ? obj.nama_skpd : '-'
    // },
    // checkFormValidity() {
    //   this.validateState = {};
    //   return true;
    // },
    // resetModal() {
    //   const now = new Date
    //   this.form.nomorTbp = "";
    //   this.form.nomorSkpd = "";
    //   this.form.nomorSkrd = "";
    //   this.form.keteranganPembayaran = "";
    //   this.form.nilaiDetailTbp = null;
    //   this.form.tanggalTbp = now.getFullYear() +'-'+ ('' + (now.getMonth()+1)).padStart(2, '0') +'-'+ ('' + (now.getDate())).padStart(2, '0');
    //   this.form.tanggalTbpAkhir = new Date(new Date(this.form.tanggalTbp).setDate(new Date(this.form.tanggalTbp).getDate() + 1))
    //   this.form.kodeRekening = this.searchparams.kodeRekening;
    //   this.form.idSkpd = this.searchparams.idSkpd;
    //   this.form.idSkpdUnit = this.searchparams.idSkpdUnit != 'all' ? this.searchparams.idSkpdUnit : null;
    //   this.form.files = [];
    //   this.validateState = {};
    // },
    // handleOk(bvModalEvt) {
    //   // Prevent modal from closing
    //   bvModalEvt.preventDefault();
    //   // Trigger submit handler
    //   this.handleSubmit();
    // },
    
    // async handleSubmit() {
    //   try {
    //     this.loading = true
    //     let resp = await axios.post('penerimaan/tbp', {
    //       ...this.form,
    //       nilaiDetailTbp: this.$ci.parse(this.form.nilaiDetailTbp),
    //     })
    //     console.log('resp',resp)
    //     // Hide the modal manually
    //     this.$nuxt.$emit('add-pendapatan', resp.data.model)
    //     this.$nextTick(() => {
    //       this.$bvModal.hide("modal-add-pendapatan");
    //     });
    //   } catch (e) {
    //     if (e.response) {
    //       console.log('error response', e.response, e.response.status, e.response.data)
    //       if (e.response.status == 422) {
    //         this.validateState = e.response.data.errors
    //       } else {
    //         swal.fire({
    //           type: 'error',
    //           title: "Server tidak terhubung",
    //           text: "Gagal menyimpan data",
    //           reverseButtons: true,
    //           confirmButtonText: 'Ok',
    //         })
    //       }
    //     } else {
    //       swal.fire({
    //         type: 'error',
    //         title: "Terjadi kesalahan",
    //         text: "Gagal menyimpan data",
    //         reverseButtons: true,
    //         confirmButtonText: 'Ok',
    //       })
    //     }
    //   }
    //   this.loading = false
    // },
  //   uploadResponse(res) {
  //     if (res.success) {
  //       this.form.files.push(res.url)
  //     }
  //   },
  //   removeFile(i) {
  //     this.form.files.splice(i, 1)
  //   },
  //   isUploading(val) {
  //     this.loading = val
  //   },
  // },
  // mounted() {
  },
  
};
</script>

<style>
</style>