<template>

  <div>
      
      <card class="mb-3">
            <div class="row mb-3">
                <div class="col-md-4">
                    <v-select class="mb-2 mb-md-0" 
                    :options="options.skpd"
                    :reduce="item => item.id_skpd" label="nama_skpd" 
                    placeholder="Pilih SKPD"
                    v-model="searchparams.idSkpd"
                    />
                </div>
                <div class="col-md-4">
                    <v-select class="mb-2 mb-md-0" :options="options.skpd_unit"
                    :reduce="item => item.id_skpd" label="nama_skpd" 
                    placeholder="Pilih Unit"
                    v-model="searchparams.idSkpdUnit"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="d-md-flex align-items-center">
                        <b-form-datepicker 
                            class="mb-2 mb-md-none"
                            locale="id-ID"
                            today-button
                            reset-button
                            close-button 
                            :start-weekday="1" 
                            v-model="searchparams.tanggalFrom" 
                            placeholder="Tanggal Awal" 
                         />
                         <div class="mx-2 d-none d-md-block"><i class="ti-control-play"></i></div>
                         <b-form-datepicker 
                            class="mb-2 mb-md-none"
                            locale="id-ID"
                            today-button
                            reset-button
                            close-button 
                            :start-weekday="1" 
                            v-model="searchparams.tanggalTo" 
                            placeholder="Tanggal Akhir"
                         />
                    </div>
                </div>
                <div class="col-md-3">
                    <multi-download-export-button url="/print/cetakjurnalumum" :searchparams="searchparamsdata" :defaultFileName="'Jurnal Umum'" :supportFormat="'pdf;xls;'" />                
                </div>
            </div>
      </card>
  </div>
</template>
<style scoped>
.btn-icon {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  display: inline-block;
  width: 100%;
  margin: 0;
  margin: .5rem 0;
  padding: 24px;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  color: #393f49;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  background-color: #f8f9fa;
  -moz-appearance: none;
}
</style>
<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import { parseParams, stringifyParams } from "@/utils";
export default {
  middleware: 'auth',
  computed: {
    ...mapGetters({
      user: 'auth/user'
    }),
    searchparamsdata() {
      return {
        ...this.searchparams,
      }
    }
  },
  head () {
    return { title: this.$t('Laporan Realisasi Anggaran') }
  },
  
  async asyncData({store}) {
    let usr = store.getters["auth/user"];
    let searchparams = {
        idSkpd : "",
        idSkpdUnit : "",
        tanggalFrom: "",
        tanggalTo: "",
        formatFile: "xls",
        tahun: "2021"
    }
    let f3 = axios.get(`/common/skpd/index`, {
        params: {
            params: {
            is_pendapatan: 1
            }
        }
     })
    let f3resp = (await f3).data
    let f4
    let f4resp
    if (searchparams.idSkpd && searchparams.idSkpd != 'all') {
      f4 = axios.get(`/common/unit-skpd/index`, {
        params: {
          params: {
            // is_pendapatan: 1,
            id_unit: searchparams.idSkpd
          }
        }
      })
      f4resp = (await f4).data
    }
    
    
    let options = {
      skpd: f3resp.data,
      skpd_unit: []
    }
    let skpd_unit_disabled
    if (searchparams.idSkpd && searchparams.idSkpd != 'all') {
      options.skpd_unit = f4resp.data
      if (f4resp.data.length) {
        options.skpd_unit.unshift({
          id_skpd: "all",
          nama_skpd: "Semua Unit"
        })
        skpd_unit_disabled = false
      } else {
        skpd_unit_disabled = true
      }
    }
    return {
      searchparams,
      options,
      skpd_unit_disabled,
    }
  },
  async reloadUnit() {
    if (!this.searchparams.idSkpd || this.searchparams.idSkpd == 'all') {
    this.skpd_unit_disabled = true
    this.options.skpd_unit = []
    return
    }
    this.skpd_unit_disabled = true
    let f4 = axios.get(`/common/skpd-unit`, {
    params: {
        params: {
        // is_pendapatan: 1,
        id_unit: this.searchparams.idSkpd
        }
    }
    })
    
    let f4resp = (await f4).data
    this.options.skpd_unit = f4resp.data
    if (f4resp.data.length) {
    this.options.skpd_unit.unshift({
        id_skpd: "all",
        nama_skpd: "Semua Unit"
    })
    this.skpd_unit_disabled = false
    } else {
    this.skpd_unit_disabled = true
    }
  },
    mounted() {
        //this.setDataLineChart();
    },
    methods: {
        
    },
    watch: {
        'searchparams.idSkpd'() {
        this.reloadUnit()
        }
    }
}
</script>
