<template>
<div>
  <b-card no-body>
    <b-tabs card>
      <b-tab title="Reklasifikasi" active>
    <div class="row" style="margin: 0 -5px">
        <div class="col-md-6" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Pilih SKPD : </h6>
            <v-select :options="['Pilih SKPD']"></v-select>
          </div>
        </div>

        <div class="col-md-6" style="padding: 0 5px">
            <div class="form-group" >
                  <h6 class="c-grey-900">Nomor Jurnal : </h6>
                  <input type="text" class="form-control" id="form-group"
                  placeholder="" readonly>
            </div>
        </div>
        
        <div class="col-md-6" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Tanggal Jurnal :</h6>
            <b-form-datepicker 
              class="mb-2" />
          </div>
        </div>

        <div class="col-md-6" style="padding: 0 5px">
            <div class="form-group" >
                  <h6 class="c-grey-900">No Dokumen Sumber :</h6>
                  <input type="text" class="form-control" id="form-group"
                  placeholder="">
            </div>
        </div>

        <div class="col-md-6" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Tanggal Dokumen Sumber :</h6>
            <b-form-datepicker 
              class="mb-2" />
          </div>
        </div>

        <div class="col-md-6" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Unggah Dokumen Sumber :</h6>
            <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
          </div>
        </div>

        <div class="col-md-12" style="padding: 0 5px">
            <div class="form-group" >
                  <h6 class="c-grey-900">Keterangan :</h6>
                  <input type="text" class="form-control" id="form-group"
                  placeholder="">
            </div>
        </div>
    </div>

        <h3>Jurnal</h3>
        <hr>
        <div class="col-md-6" style="padding: 0 5px">
          <div class="form-group">
            <h6 class="c-grey-900">Kode Rekening : </h6>
            <v-select :options="['Kode Rekening']"></v-select>
          </div>
        </div>

        <div class="row" style="margin: 0 -5px">
            <div class="col-md-3" style="padding: 0 5px">
                <div class="form-group">
                        <h6 class="c-grey-900">Debit : </h6>
                         <input type="text" class="form-control" id="form-group"
                     placeholder="">
                </div>
             </div>

             <div class="col-md-3" style="padding: 0 5px">
                <div class="form-group">
                        <h6 class="c-grey-900">Kredit : </h6>
                         <input type="text" class="form-control" id="form-group"
                     placeholder="">
                </div>
                 <left><button v-on:click="submitFile()">Tambah</button></left>
             </div>
        </div>

        <div>
          <vue-good-table
            :columns="columns"
            :rows="rows"/>
        </div>


      </b-tab>
      <b-tab title="Tab 2">
        <b-card-text>Tab contents 2</b-card-text>
      </b-tab>
    </b-tabs>
  </b-card>
</div>
</template>

